[2020-07-26 21:07] isontheline opened #1 "No UITabBar on iPad Pro (12.9-inch) (4th generation)"
![Capture d’écran 2020-07-26 à 23 07 43](https://user-images.githubusercontent.com/44212923/88489498-d5f60100-cf94-11ea-80b7-1482c0ff9b28.png)

[2020-07-26 21:08] isontheline opened #2 "Check WebSSH Pro on iOS 12.4"

[2020-07-26 21:19] isontheline commented on #2
OK

[2020-07-26 21:19] #2 closed

[2020-07-27 06:13] isontheline opened #3 "TestFlight auto deploy"

[2020-07-27 19:11] isontheline opened #4 "webssh.net : Missing links and legal pages"
- [x] Add link to pro.webssh.net
- [x] Add Privacy Policy

[2020-07-27 19:21] isontheline opened #5 "ECDSA, ED25519 : these keys are not working"

[2020-07-28 04:26] isontheline opened #6 "About screen : add link to mengus.net projects"

[2020-07-28 20:07] isontheline commented on #1
Now fixed

[2020-07-28 20:07] #1 closed

[2020-07-29 04:20] isontheline opened #7 "Dark Mode"
WebSSH will be even better in dark :)

* [Designing a Dark Mode for your iOS app](https://blog.prototypr.io/designing-a-dark-mode-for-your-ios-app-the-ultimate-guide-6b043303b941)
* [Dark Mode on iOS 13](https://nshipster.com/dark-mode/)
* https://medium.com/ios-expert-series-or-interview-series/implementing-dark-mode-in-ios-13-54eb6775a1b7

# Need to
- [x] Remove all static colors coded
- [x] Use

[2020-07-29 04:30] isontheline opened #8 "WebSSH 13.16.3 TestFlight : Unable to launch a connection, always crash"

[2020-07-29 05:35] isontheline commented on #8
[code]

[2020-07-29 16:40] isontheline commented on #8
Closed by 13.16.5

[2020-07-29 16:40] #8 closed

[2020-07-29 16:41] isontheline opened #9 "13.16.3 : Layout is overlapped (iPhone X)"
![original](https://user-images.githubusercontent.com/44212923/88828145-1343d400-d1cb-11ea-81a1-fea882a0fee6.jpg)

[2020-07-29 16:50] isontheline opened #10 "13.16.5 : SFTP crash"
Last Exception Backtrace:
0   CoreFoundation                	0x19885d654 __exceptionPreprocess + 224 (NSException.m:199)
1   libobjc.A.dylib               	0x19857fbcc objc_exception_throw + 56 (objc-exception.mm:565)
2   CoreFoundation                	0x1987606ec +[NSException raise:format:arguments:] + 96 (NSException.m:146)
3   Foundation                    	0x198ba616c -[NSAssertionHandler han

[2020-07-29 16:55] isontheline opened #11 "13.16.5 : Crash when "Pressed on the door and arrow button.""
Thread 0 name:
Thread 0 Crashed:
0   libobjc.A.dylib               	0x0000000198dae980 objc_retain + 16 (objc-object.h:459)
1   UIKitCore                     	0x000000019c7f4680 -[UINavigationBar tintColorDidChange] + 328 (UINavigationBar.m:659)
2   UIKitCore                     	0x000000019d5a4dd0 -[UIView _tintColorDidChange] + 292 (UIView.m:6592)
3   UIKitCore                     	0x000000019d5

[2020-07-29 16:55] isontheline commented on #9
Fixed by 13.16.5

[2020-07-29 16:55] #9 closed

[2020-07-30 06:37] isontheline opened #12 "Search bar overlaps lists (ssh, sftp)"
iOS 13 / 14

[2020-07-30 06:39] isontheline opened #13 "Terminal : Virtual Keyboard : Need to remove the auto fill feature in order to gain one row"

[2020-07-30 06:51] isontheline commented on #10
Closed by 13.16.6

[2020-07-30 06:51] #10 closed

[2020-07-30 07:01] isontheline commented on #13
Fixed by 13.16.7

[2020-07-30 07:01] #13 closed

[2020-07-30 07:03] isontheline opened #14 "13.16 : Terminal : Selecting lines doesn't work"

[2020-07-30 16:13] isontheline commented on #7
Disabling dark mode support (while fixing it for 14.0) in 13.16.8

[2020-07-30 18:57] isontheline opened #15 "13.16 : SFTP : Save file : Crash"
Last Exception Backtrace:
0   CoreFoundation                	0x19de2e654 __exceptionPreprocess + 224 (NSException.m:199)
1   libobjc.A.dylib               	0x19db50bcc objc_exception_throw + 56 (objc-exception.mm:565)
2   Foundation                    	0x19e3141fc _AssertAutolayoutOnAllowedThreadsOnly + 420 (NSISEngine.m:0)
3   Foundation                    	0x19e1174a0 -[NSISEngine withBehaviors:

[2020-07-30 19:01] isontheline commented on #15
Thread 13: Exception: "Modifications to the layout engine must not be performed from a background thread after it has been accessed from the main thread."

[2020-07-30 19:16] isontheline commented on #15
Fixed by 13.16.9

[2020-07-30 19:16] #15 closed

[2020-07-30 19:34] isontheline commented on #11
Possible fix by 13.16.9

[2020-07-30 19:34] #11 closed

[2020-07-30 20:38] isontheline commented on #5
Fixed by 14.0.1

[2020-07-30 20:38] #5 closed

[2020-07-31 05:47] #3 closed

[2020-07-31 18:49] isontheline opened #16 "13.16 : Pushing the same view controller instance more than once is not supported"
Last Exception Backtrace:
0   CoreFoundation                	0x189d69654 __exceptionPreprocess + 224 (NSException.m:199)
1   libobjc.A.dylib               	0x189a8bbcc objc_exception_throw + 56 (objc-exception.mm:565)
2   UIKitCore                     	0x18d750618 -[UINavigationController pushViewController:transition:forceImmediate:] + 420 (UINavigationController.m:7309)
3   UIKitCore

[2020-07-31 19:01] isontheline commented on #16
Possible fix by 13.16.10

[2020-07-31 19:01] #16 closed

[2020-07-31 23:29] maravtdm commented on #7
Full white screen on ios 14 beta2

[2020-08-01 04:46] isontheline opened #17 "Full white screen on ios 14 beta2"
Full white screen on ios 14 beta2

_Originally posted by @maravtdm in https://github.com/isontheline/pro.webssh.net/issues/7#issuecomment-667425879_

[2020-08-01 04:47] isontheline commented on #17
@maravtdm At the launch of the app or only on terminal ?

[2020-08-01 10:19] maravtdm commented on #17
- only the term. i could see command on the right and the keyboard
- ios 14 beta2 on iphone 8 plus
- yes, of course

[2020-08-01 15:01] avalonix opened #18 "application closes when opening ssh tunnel"
iPad Pro iOS 13.6

[2020-08-01 15:04] isontheline commented on #18
Thanks for your report @avalonix

Would you like to beta test WebSSH Pro in order to send me crash reports?

[2020-08-01 15:06] isontheline commented on #17
@maravtdm Thanks for your feedback

I will download Xcode 12 Beta 3 in order to reproduce the bug.

I will go back to you with beta testing link asap.

[2020-08-01 15:11] avalonix commented on #18
I'm ready to help you make the app better!  I really love your product and am glad that you continue to support it!  support for ssh tunnels is very important to me.  I am connecting via rdp to my home pc.  there was an annoying flaw in the previous version of your application.  the tunnel worked, but in new versions of ios, the application fell asleep in the background and the connection was inte

[2020-08-01 15:18] maravtdm commented on #17
![2020-08-01 17-15-24](https://user-images.githubusercontent.com/11086888/89104622-f0a7fa00-d41a-11ea-809d-daffd1acc328.png)

Here is the screenshot of what it look like

[2020-08-01 15:33] isontheline commented on #18
@avalonix Thanks for your support !
Yes apps can't do a lot of things in background.
Does the tunnel works when splitting your screen with RDP app?

[2020-08-01 15:39] avalonix commented on #18
I can't check it now.  today updated the application and now the tunnel does not start at all.  the application crashes.  this was the reason to write to you here.

[2020-08-01 15:42] avalonix commented on #18
earlier on the old version I didn't think to check two applications on the screen

[2020-08-01 15:50] isontheline commented on #18
@avalonix Please use this TestFlight link in order to send me your crash reports :
https://testflight.apple.com/join/QSrBK59z

Thanks

[2020-08-01 18:43] #4 closed

[2020-08-01 20:12] isontheline commented on #17
Fix pushed to Apple.
Waiting for the build beeing accepted.🤞

[2020-08-01 22:07] nborof commented on #18
I am also experiencing this. It happens whenever the tunnel connects (or directly before). If the tunnel connection is to a server that is unavailable, the app does not crash (it just keeps waiting to find the server). But all other tunnels crash upon connection.

[2020-08-02 03:31] chuan01 opened #19 "whois查询错误"
whois查询接口错误。
![1724FE76-A156-4312-A949-B6C9CDF7BD2D](https://user-images.githubusercontent.com/43603829/89114890-b3437b00-d4b3-11ea-8ee4-aacb00322c2d.png)

[2020-08-02 03:33] chuan01 opened #20 "UI布局bug"
添加新屏幕会出现UI布局的bug。
![772675E9-E4F4-4EE7-869C-A300342447C2](https://user-images.githubusercontent.com/43603829/89114908-f00f7200-d4b3-11ea-80b3-1b86409e8c5d.jpeg)

[2020-08-02 03:35] chuan01 commented on #19
建议使用https://whois.gd/查询接口。
调用规则https://whois.gd/你的域名。

[2020-08-02 03:36] chuan01 commented on #19
比如说https://whois.gd/baidu.com
查询为baidu.com域名whois信息

[2020-08-02 03:38] chuan01 commented on #20
iPhone11 ios14.0 (18A5332f)

[2020-08-02 05:05] isontheline commented on #18
@nborof Thanks for your feedback!
Have you also installed the beta TestFlight binary from https://testflight.apple.com/join/QSrBK59z in order to report your crashes?

[2020-08-02 05:09] isontheline commented on #19
Thanks for your bug report @chuan01 !
I will fix'it asap and will send you a beta TestFlight link

[2020-08-02 05:13] isontheline commented on #20
Thanks @chuan01 to have sent UI error with steps to reproduce!
I will fix it and come back to you asap

[2020-08-02 05:31] isontheline opened #21 "Terminal rendering enhancements : WKWebView"
# WKWebView
## Introduction
UIWebView apps will be rejected on December 2020 :

## Tasks
- [x] Upgrading terminal from UIWebView to WKWebView
- [x] Upgrading all UIWebViews inside WebSSH (support, etc.)

[2020-08-02 05:43] isontheline commented on #18
Received @avalonix crash report

[code]

I am fixing it

[2020-08-02 05:46] isontheline commented on #18
Should be fixed by 14.0.3
Waiting for Apple to approve the beta binary

[2020-08-02 06:01] isontheline opened #22 "Crash when typing on the terminal"
**Describe the bug**
Crash when typing on the terminal

**Informations**
 - Device : iPhone12,1
 - OS : iPhone OS 13.6 (17G68)
 - WebSSH Pro version : 13.16.10

**To Reproduce**
Input symbol on keyboard and press return

[2020-08-02 06:02] isontheline commented on #22
[code]

[2020-08-02 06:02] isontheline commented on #22
Strange.
Waiting for more users to have the same bug.

[2020-08-02 06:02] #22 closed

[2020-08-02 06:11] isontheline opened #23 "Migrating from paid to free with In-App Purchases"
**Will not concern all WebSSH users who have already bought the app in the past! (bought before 2020-08-29)**

# In-App Purchases
- [ ] ~(Tier 1) Network tools (ping, whois, traceroute)~
- [ ] (Tier 1) Additional fonts for the SSH terminal #60
- [ ] (Tier 2) Export / Import database #43
- [ ] (Tier 2) Copy / Move files and folders with SFTP #57
- [x] (Tier 3) Unlimited connections : 1 allowed by d

[2020-08-02 06:12] isontheline commented on #23
https://fluffy.es/migrate-paid-app-to-iap/

[2020-08-02 06:18] isontheline opened #24 "Since WebSSH Pro 14.0 : No colors on terminal"
Since the upgrade from 13.16 to 14.0, terminal don't show colors.
Seems that terminal type is not sent anymore.

[2020-08-02 06:27] isontheline commented on #24
Fixed by 14.0.4

[2020-08-02 06:27] #24 closed

[2020-08-02 08:53] isontheline commented on #5
Want to be a beta tester?
https://testflight.apple.com/join/QSrBK59z

[2020-08-02 13:50] nborof commented on #18
@isontheline I installed the testflight and it should have sent the crash info.

[2020-08-02 15:04] isontheline commented on #18
@nborof Thanks!
You will notified in a few hours of the availability of WebSSH 14.0.3 (14.0.1 and 14.0.2 don't contain the fix).

[2020-08-02 15:18] isontheline opened #25 "VPN over SSH"
It could be great if a SSH connection can be used as a VPN server like a bastion.

Tunnel inside WebSSH works great, but a VPN feature should work better, isn't it?

* https://github.com/passepartoutvpn/tunnelkit

# In-App Purchase
- [ ] (Tier 3) VPN over SSH #23

[2020-08-02 16:48] nborof commented on #18
Just downloaded 14.0.4. The tunnel connects (and works!) without crashing.

However, when I try to disconnect the tunnel, nothing seems to happen. No matter how much I tap the name of the connection, the dot stays red.  But if I then try to connect via the tunnel, it no longer works.

So it appears that it does disconnect the tunnel, but the dot stays red, and the only way I can reconnect is to fo

[2020-08-02 17:34] isontheline commented on #18
@nborof Great!
OK no problem I will fix the red dot asap

[2020-08-02 17:50] lukensmall opened #26 "Pasting info into file can wipe out some data"
If I open a text editor and copy selected text, if it was pasted anywhere but at the end of the file, it would often overwrite some of the existing text after the insertion point.

**Informations**
 - Device : [iPhone 7+]
 - OS : [latest IOS]
 - OS : [OpenBSD amd64]
 - WebSSH Pro version : [latest since you came back]

[2020-08-02 17:53] isontheline commented on #26
@lukensmall Hello and thanks for your feedback!

Please give me the exact version of your iOS in order to be able to reproduce the bug.

Have a nice day,

[2020-08-02 18:00] lukensmall commented on #26
I’ve kept upgrade cycles current for the nearly 2 years I’ve had this phone
and it has affected me ever since I’ve had this program.

I haven’t tested this bug lately because I avoid the bug, but I
highly doubt it has improved with iPhone versions.

On Sun, Aug 2, 2020 at 12:53 PM Arnaud MENGUS <notifications@github.com>
wrote:

--
-Luke

[2020-08-02 19:50] isontheline commented on #14
Seems to work on 14.0.4

[2020-08-02 19:50] #14 closed

[2020-08-02 19:52] isontheline commented on #17
@maravtdm Fixed by 14.0.4
Could you confirm?

[2020-08-02 19:54] isontheline opened #27 "Tunnel : Red dot doesn't go to gray when disconnected"
Just downloaded 14.0.4. The tunnel connects (and works!) without crashing.

However, when I try to disconnect the tunnel, nothing seems to happen. No matter how much I tap the name of the connection, the dot stays red.  But if I then try to connect via the tunnel, it no longer works.

So it appears that it does disconnect the tunnel, but the dot stays red, and the only way I can reconnect is to fo

[2020-08-02 19:55] isontheline commented on #18
Fixed by 14.0.4

I will fix the red dot asap in issue #27

[2020-08-02 19:55] #18 closed

[2020-08-02 20:38] maravtdm commented on #17
I'm waiting for the update ...

[2020-08-02 21:42] Killer0561 opened #28 "Crash when try to save a file"
If you try to edit a file and want to save it, the app crashes and you have to open it again.

[2020-08-02 22:36] nborof commented on #27
Just to be clear, the dot does not turn gray, AND I am unable to reconnect to that tunnel unless I force-quit the app and start over again.

[2020-08-02 23:26] avalonix commented on #23
I think it is quite possible to switch to such a model.  the main thing is not on the subscription model.  ) the main thing is to decide which functionality will be provided for free, and which in the full version.  can add some more functions to the application.

[2020-08-03 04:12] isontheline commented on #17
@maravtdm Sorry, you will find TestFlight link here :
https://testflight.apple.com/join/QSrBK59z

[2020-08-03 04:14] isontheline commented on #28
Hey @Killer0561 !
Could you try if it crashes with this beta release?
https://testflight.apple.com/join/QSrBK59z

[2020-08-03 04:17] isontheline commented on #27
@nborof You are clear. I have two problems :
- Red dot don't changing color to gray when tunnel is off
- App can't reuse the same local forward port for a few seconds because not closed properly

I will fix these asap

[2020-08-03 04:21] isontheline commented on #23
@avalonix Thanks for your feedback!

In order to don't hurt anybody, a possible freemium model could be :
- All features are available for everyone
- But free users can only add 1 (one) connection per ssh/sftp/tunnel

[2020-08-03 04:24] isontheline commented on #28
Seems to be related to #15
Waiting for @Killer0561 for joigning beta release

[2020-08-03 05:01] avalonix commented on #23
good too!

[2020-08-03 07:39] maravtdm commented on #17
Well done. parfait !

[2020-08-03 07:41] #17 closed

[2020-08-03 11:07] isontheline opened #29 "Code cleanup : Delete unused source code"
WebSSH is a eight years old project!

It's time to do a code cleanup :
* https://github.com/dblock/fui
* https://medium.com/@mshcheglov/unused-code-cleanup-in-ios-projects-9789e5d247ca

[2020-08-03 13:33] avalonix commented on #27
Will the application always fall asleep in the background?  nothing can be done about it?  the application from Microsoft for rdp does not support split view, only slide over.

[2020-08-03 14:12] isontheline commented on #27
@avalonix Yes background operations are not welcomed by Apple due to battery drain.

That's why I think I should go to the direction of a VPN #25

If anyone has another idea, please tell me.

[2020-08-03 18:52] isontheline opened #30 "Floating Keyboard and/or Split View : Keyboard focus problem"
**Describe the bug**
iPad Pro. Open safari and WebSSH on split view. Move keyboard from webssh to safari and it close. the keyboard in the program WebSSH no longer opens. when the keyboard button is pressed, nothing happens

Reporter : @avalonix

**Informations**
 - Device : iPad Pro 11 pouces
 - OS : iOS 13.6
 - WebSSH Pro version : 14.0.4

[2020-08-03 19:02] isontheline commented on #30
@avalonix Have you this bottom bar?
![image](https://user-images.githubusercontent.com/44212923/89217486-8f278d00-d5cc-11ea-9bd8-ec7b557e51c0.png)

I can't reproduce the bug. When I dismiss this gray bar I can touch the "keyboard" icon on WebSSH and then the virtual keyboard appear again.

[2020-08-03 19:06] isontheline commented on #28
@Killer0561 I'm closing this issue because I don't I received any crash report through TestFlight.

Crash keep happening? Just ask to re-open this issue ;)

Have a nice day

[2020-08-03 19:06] #28 closed

[2020-08-03 19:13] isontheline commented on #20
The bug is also on iOS 13 :
![image](https://user-images.githubusercontent.com/44212923/89218333-27724180-d5ce-11ea-86f1-70ef8dd801ce.png)

[2020-08-03 19:18] isontheline opened #31 "Focus on a field doesn't scroll to the right field position"
**Describe the bug**
On iPad, when a field (on connection form) is focused, the screen scroll but not to the right field position

- [x] Check library TPKeyboardAvoidingCollectionView

[2020-08-04 05:25] isontheline commented on #20
Waiting for 14.1.1 to be approved for TestFlight Beta Testing (in one day).

@chuan01 Please install WebSSH 14.0.4 Beta Release here :
https://testflight.apple.com/join/QSrBK59z

You will receive tomorrow a notification for 14.1.1

Have a nice day!

[2020-08-04 05:43] avalonix commented on #30
I am using a floating keyboard.
![0C8B240A-E696-47DF-9C07-8F1F216C6830](https://user-images.githubusercontent.com/29081475/89257283-0eaa7000-d650-11ea-8385-71a6b6621405.jpeg)

[2020-08-04 05:46] avalonix commented on #30
i move the floating keyboard from the Webssh window to the safari window and the keyboard closes.  maybe it's not a webssh bug but a iOS bug

[2020-08-04 14:55] avalonix commented on #30
https://youtu.be/4z3yGeP-HkM

[2020-08-04 15:12] isontheline commented on #30
Thank you a lot @avalonix  for your video feedback!
I will try to reproduce the crash asap.

[2020-08-04 18:12] sgberman opened #32 "Ssh crashes in iPad 7th Gen os Ver 13.6"
**Describe the bug**
Ssh terminal crashes immediately after opening terminal screen on iPad.  Works fine on iPhone X

**Informations**
 - Device : iPad 7th Gen
 - OS : iOS 13.6
 - WebSSH Pro version : 14.0

**Screenshots**
No screenshot available.  Software crashes and terminal closes immediately after pressing connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Goto SSH
2. Touch on

[2020-08-04 18:54] isontheline commented on #32
Hello @sgberman and thanks for your issue!

Please join use WebSSH Beta Release here :
https://testflight.apple.com/join/QSrBK59z

Reproduce the crash and you will able to send it to me.

☀️ Have a nice day

[2020-08-04 19:31] isontheline commented on #30
I have seen this issue :

I'm searching the root cause...

[2020-08-04 19:47] isontheline commented on #30
I have seen another bug with floating keyboard :
![image](https://user-images.githubusercontent.com/44212923/89337840-eba5ad80-d69b-11ea-91c3-ef3fc8c768d6.png)

The terminal height depends on the location of the floating point.
I need to fix it

[2020-08-05 03:03] avalonix opened #33 "Tunnel: Incorrect termination of the session when disconnecting the ssh tunnel."
1. Open ssh tunnel.  Click on the connection on the tunnel tab
 2. Click on the connection again to disconnect it
 3. Go to the ssh tab and see that the connection to the this server is not available (the gray circle is lit, not blue).  If you try to connect via ssh to this server but from another device, then the connection will not occur.  The server freezes for a while and does not accept conne

[2020-08-05 04:20] isontheline commented on #33
@avalonix Yet I Iabel this issue "wontfix" because I dont'k understand why this can be a client (WebSSH) side issue.

Have you more logs on server side that should indicate the client is in fault?
Thanks.

[2020-08-05 04:24] isontheline commented on #20
@chuan01 Beta release available on TestFlight, could you check it?

[2020-08-05 04:33] avalonix commented on #33
client does not close the session when clicking on the connection in the tunnel tab

[2020-08-05 04:35] isontheline commented on #33
Issue #27 is already opened for this bug behavior. So I will fix both issue into #27 in the next hours.

Thanks again for your feedback @avalonix 👍

[2020-08-05 04:35] #33 closed

[2020-08-05 04:37] avalonix commented on #33
Ok thx! I’m wait next beta

[2020-08-05 04:53] avalonix commented on #20
iPhone 11 iOS 13.6; iPad Pro iOS 13.6 displayed correctly(14.1.1)
![722C16EE-9FDB-47BF-8404-7285EEFCA46A](https://user-images.githubusercontent.com/29081475/89373052-e7b47280-d711-11ea-873a-cfb61165386e.jpeg)

[2020-08-05 05:11] isontheline commented on #20
Thanks @avalonix 👍
I'm closing this issue right now.

Fixed by 14.1.1

[2020-08-05 06:15] avalonix opened #34 "Face ID login crash : Crashing due to privacy violation"
**Describe the bug**
Face ID login crash

**Informations**
 - Device : iPhone 11
 - OS : 13.6
 - WebSSH Pro version : 14.1.1

**Video**
https://youtu.be/g3ElNDH8M9k

**To Reproduce**
Steps to reproduce the behavior:
1. run the application.  go to settings and set a digital password.
 2. The switch for using Face ID is on
 3. I close the application
 4. I open it in order to log in with Face ID
 5.

[2020-08-05 10:48] celerysoft opened #35 "Crashed in first time ssh connection"
First of all, welcome back:D

**Describe the bug**
after adding a new SSH connection, the app crashed and only crashed in first connection. work fine in second and other times.

**Informations**
 - Device : iPhone X
 - OS : iOS 13.6
 - WebSSH Pro version : 14.0.4

**Screenshots**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SSH tab
2. Add SSH connection
3. Enter the server info, log

[2020-08-05 11:29] isontheline commented on #35
Hey @celerysoft  👋
Thank you a lot for your harm support and for your issue!

Please come on and join on my beta releases :

1. Please install _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z
2. Then reproduce the crash
3. Finally you will able to send the crash report to me through TestFlight app

Could you try again?

☀️ Have a nice day

[2020-08-05 11:35] isontheline commented on #34
I will fix it in a few hours.

[2020-08-05 11:39] isontheline commented on #32
I don't find any useful data inside the crash report :
[code]

I need reproduce steps, please.

[2020-08-05 18:55] celerysoft commented on #35
awesome, this bug was fixed in TestFlight version

[2020-08-05 18:55] #35 closed

[2020-08-05 19:28] isontheline commented on #32
[code]

[2020-08-05 19:29] isontheline commented on #32
[code]

[2020-08-05 20:15] isontheline commented on #32
@sgberman I have release 14.1.2, a first fix attempt🤞

[2020-08-05 20:16] isontheline commented on #34
@avalonix Should be fixed by 14.1.2 but does it?

[2020-08-06 01:51] chuan01 opened #36 "Ssh terminal repeats bugs."
**Describe the bug**
A clear and concise description of what the bug is.

**Informations**
 - Device : [e.g. iPhone 11]
 - OS : [e.g. iOS 14b4]
 - WebSSH Pro version : [e.g. 14.1.2]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Ssh terminal'
2. Touch on 'Use Chinese input method.'
3. Touch the keyboard. to

[2020-08-06 05:25] isontheline commented on #32
@sgberman It is an option (or not) to remove and re-install the app?
I would like to check if database data can be the root cause

[2020-08-06 11:13] isontheline opened #37 "Terminal Virtual Keyboard Enhancements"
- [x] #30 : Floating Keyboard and/or Split View : Keyboard focus problem
- [x] #44 : Keyboard : can't hide it by using the bottom right button
- [x] #99 : Keep Keyboard active on ssh reconnect
- [x] #111 : Lots of instant output will exceed keyboard boundary

[2020-08-06 11:16] isontheline opened #38 "Delete all unused (or useless) settings parameters"
- [x] Move them to iOS / macOS App' settings
- [x] https://github.com/isontheline/pro.webssh.net/issues/776
- [x] Enable bell vibration or beep
- [x] Stay on terminal when connection lost
- [x] Virtual Arrow Keys
- [x] Show virtual keys above keyboard
- [x] Move theme one layer top : "SSH Theme" section

[2020-08-06 20:02] isontheline commented on #27
@nborof Red dot has been fixed inside the new beta release 14.1.6
Could you try it?

[2020-08-06 20:12] nborof commented on #27
The red dot now turns gray, and I can connect, disconnect, and reconnect normally.  All seems good!

With regards to going in the direction of a VPN, I don’t understand the entirely how that would work, but I would like to still be able to use the classic port forwarding via tunneling, in addition to any new VPN features.

[2020-08-06 20:17] isontheline commented on #27
@nborof Great!
Yes you're right : if a VPN feature will come it won't overwrite the current port forwarding feature. The current feature must be kept as it.

[2020-08-06 20:17] #27 closed

[2020-08-06 20:27] isontheline commented on #32
@amengus Trying to embedded SQLite

[2020-08-06 20:31] isontheline commented on #34
@avalonix Please reopen this issue if the crash is not fixed
Have a nice day!

[2020-08-06 20:31] #34 closed

[2020-08-07 07:57] chuan01 commented on #20
修复之后其他屏幕底部出现线条的问题，颜色不对称。
![5BA5AA05-A2CC-432B-BB74-D415A3933E14](https://user-images.githubusercontent.com/43603829/89623167-baf58c00-d8c6-11ea-9206-64f9319fbd6c.jpeg)
![AB7D5456-0919-4948-856D-52448E21F156](https://user-images.githubusercontent.com/43603829/89623180-bdf07c80-d8c6-11ea-8da2-9319e5498792.jpeg)

[2020-08-07 08:08] isontheline commented on #20
Hi @chuan01

I have translated your comment but I don't see the difference between the two screens.

Perhaps I'm tired 😬

Could you explain me more?

[2020-08-07 09:17] chuan01 commented on #20
Screen 1 looks like a whole, while the other screens look like a line in the middle, with inconsistent colors up and down.

[2020-08-07 09:20] isontheline commented on #20
Nice catch!
I reopen the issue.
Thanks

[2020-08-07 11:43] avalonix opened #39 "Set password black/white keyboard"
**Describe the bug*
when setting a password for the application, keyboards of different colors open

**Informations**
 - Device : iPad Pro, iPhone 11
 - OS : 13.6
 - WebSSH Pro version : 14.1.9

**video**
Ipad:
https://youtu.be/qfEWZ_jjVf8

**To Reproduce**
Steps to reproduce the behavior:

iPad (the system settings have a dark theme)
1.Tap on set password. Opened black keyboard.
2.After press ok

[2020-08-08 04:23] bigboyq opened #40 "Use icmp to implement port knock"
Currently I see port knocking implementations.
Actually, it is too complex to implement port knocking in server side.
My implementation in server side is icmp with particular size.
Such as icmp size 256 will result ssh port open for 30 seconds.
And this implementation would be as easy as 2 potable rules....in server side.
This feature Implementation on WebSSH Would be appreciated.

Server side rul

[2020-08-08 05:33] isontheline commented on #40
Hello @bigboyq  👋
Thanks for your issue!

Your current implementation of port knocking is genius 👍

As I already use ICMP as part of WebSSH ping feature, I can implement this issue by setting the payload size of ICMP packets.

Here is the TestFlight link for beta releases if you want : https://testflight.apple.com/join/QSrBK59z

Please note that I will implement it later after 14.1, not immediatel

[2020-08-08 18:44] isontheline commented on #32
Don't despair, I'm still on it 🤞

[2020-08-08 19:40] sgberman commented on #32
No worries. I’m game for testing it out whenever you need.

On Sat, Aug 8, 2020 at 11:44 AM Arnaud MENGUS <notifications@github.com>
wrote:

—————————-
Scott Berman
Electrical Engineer
Blue River Technology
(M) (310) 210-1810

[2020-08-09 05:15] isontheline commented on #32
@sgberman Could you try to disable (temporary) auto full screen mode?
You can disable it from WebSSH > Settings > SSH > Start terminal in full screen mode

[2020-08-09 05:57] sgberman commented on #32
Still crashes when i disabled start terminal in fullscreen

On Sat, Aug 8, 2020 at 10:15 PM Arnaud MENGUS <notifications@github.com>
wrote:

—————————-
Scott Berman
Electrical Engineer
Blue River Technology
(M) (310) 210-1810

[2020-08-09 09:12] isontheline commented on #32
OK I will push 14.1.10 asap
If 14.1.10 crash again I will upgrade UIWebView to WKWebView, I think that's UIWebView is crashing for an unknown reason :(

[2020-08-10 15:54] devabdicant opened #41 "Tunnelling problem"
Hi, I'm not sure if I am doing things right so I prefer to write this:
I have a ssh connection configured to my server with private key and everything is OK.
Now I want to map a ip:port into my localhost, so when I enter localhost:xxxx in my explorer I am performing a myserver:xxxx through ssh tunneling. I set things up, see the ball in grey and when I click it gets red. Then I go to web, where I

[2020-08-10 16:48] jmcarlyle commented on #41
I was having a similar problem creating a tunnel for VNC between iOS devices and my Ubuntu box. The red spot appeared on the tunnel, I got a response from the server VNC for password entry, but then things hung. I was able to get it working by going to Settings | WebSSH Settings, and turning on the slider for keeping the device awake when the tunnel was opened.

This was on my iPad 6 running iOS13

[2020-08-10 18:29] isontheline commented on #41
Hello @jmcarlyle @devabdicant !

@devabdicant does tip written by @jmcarlyle helps you?

[2020-08-10 19:59] jmcarlyle opened #42 "SSH Tunnel Causes VNC Mouse Sync Problem"
**Describe the bug**
When using VNC a small black square shows where the mouse cursor is located on the VNC client side. When you move this square (with your finger) the normal mouse arrow cursor (from the VNC server side) will follow the square (after a small delay).

This behavior is what I get when I connect the VNC client on my iPhone directly to the VNC server on my Ubuntu box. But, when I se

[2020-08-10 20:12] isontheline commented on #42
It's related to the fact that Apple doesn't allow to continue apps in background for more than a few seconds.

It's why tunneling has been designed to work inside WebSSH only or to be used in split mode on an iPad device.

Issue #25 would be a future possible solution : a VPN through a SSH connection.

I'm convinced that WebSSH isn't linked to this problem.

[2020-08-10 21:39] jmcarlyle commented on #42
Yes, no operation in the background would definitely explain the problem! Not much you can do to get around that...

I'm trying to implement an encrypted data stream for VNC. Since your solution is for the future, I think I'll set up a VPN tunnel.

By the way, congratulations on WebSSH. It's a very nice program overall!

[2020-08-11 04:16] isontheline commented on #42
Thank you a lot for your support @jmcarlyle !

Issue #25 will be updated as soon as I work on it

[2020-08-11 04:16] #42 closed

[2020-08-11 04:19] isontheline commented on #41
@devabdicant Could you try dynamic port forwarding instead?

Juste put a single * character in the whole field of port forwarding?

[2020-08-11 12:37] devabdicant commented on #41
I had set the slider on/Off and tried a few times but it behaves the same way: frozen app. Last time was with slider off, after clicking on tunnel and then going to WEB, where I have configured the http://localhost:8040. It seems the app returns after some time with the slider off though.

The issue remains: I can not tunnel a port and navigate into my remote server using http:// localhost:8040

m

[2020-08-11 12:53] isontheline commented on #41
@devabdicant I will try to reproduce your problem asap

[2020-08-12 08:51] marek90 opened #43 "Export / Import feature (connections, tunnels, sftps, keys?, ...) : Through iCloud, ZIP, mashREPL"
It would be nice to be able to export/import WebSsh settings, so I can use the same setup on my iPhone and my iPad (or vice versa).
- This may or may not include the private keys and passwords
- You can password protect the created archive (maybe enforced if you're exporting keys/passwords?)

Just an idea. What do you think? Btw, glad to see you back on the project and thanks so much for fixing so

[2020-08-12 16:32] svenh0 commented on #37
After this change the terminal use after open only the half area.
The terminal log is fill only to the middle of the window.
All lines are used only after show/hide the virtual keyboard.

iPad Pro 11 (IOS 13.6)
WebSSH 14.1.10 TestFlight

[2020-08-12 18:32] isontheline commented on #37
I have the same behavior/bug

@svenh0 I will revert this issue asap and so it will show the keyboard by default again as it doesn't fix #32 unfortunately.

[2020-08-12 18:36] isontheline commented on #43
Hi @marek90

Thank you very much for your support!

Not just an idea, a real useful use case for a lot of users ;)

I of course accept this great needed feature.

Does the sync need to be manual (import/export actions), or do I can use Apple cloud's framework?

[2020-08-12 19:02] svenh0 commented on #37
Thanks.
But if would calculate correct lines count on open terminal, i can live with default hide keyboard.
An option in the setup "show keyboard on open terminal" would be the best.

Can you check also the problem, that most i can't close the virtual keyboard with the hide-button right down in the keyboard (the button in the right down corner to close the keyboard).
On this way it works always:
1

[2020-08-12 19:14] isontheline commented on #37
1. OK I will fix the bad lines count at startup (prior to showing the keyboard)

2. OK too, I will fix the bug that prevent the keyboard to be hided by using the bottom right button of the virtual keyboard

[2020-08-12 19:17] isontheline opened #44 "Keyboard : can't hide it by using the bottom right button"
Can you check the problem, that most i can't close the virtual keyboard with the hide-button right down in the keyboard (the button in the right down corner to close the keyboard).
On this way it works always:
1. close keyboard
2. press button top right to toggle on/off the full screen mode (the third button in the right menu with the 4 arrows)
3. press button top right to show keyboard
4. press b

[2020-08-13 20:16] isontheline commented on #41
@devabdicant Do you have a blank screen by using the browser inside WebSSH?

[2020-08-13 23:00] avalonix commented on #44
confirm the problem.  I have reproduced the repeat bug.
iPad iOS 13.6.1
Webssh 14.1.11

Video: https://youtu.be/jWpN0e6TA6E

[2020-08-13 23:25] avalonix opened #45 "Keyboard: button with three dots incomprehensible command"
**Describe the bug**
when you press the button with three dots, an incomprehensible command is sent to the terminal

**Informations**
 - Device : iPhone 11, iPad Pro
 - OS : 13.6.1
 - WebSSH Pro version : 14.1.11

**video**
https://youtu.be/ZJqW--wiR7E

**screenshot**
![image](https://user-images.githubusercontent.com/29081475/90196843-1f4caa00-ddf7-11ea-8056-42944a26868a.jpeg)

**To Reproduce**
S

[2020-08-14 04:11] isontheline commented on #45
@avalonix Yes you're right it's a bug

These 3 dots must be long presses to show a submenu, but a short press shouldn't send the first submenu button.

I will fix it.

[2020-08-14 04:15] isontheline commented on #41
TestFlight release of WebSSH 14.1.11 has been to fix a crash in web tunneling

[2020-08-14 07:29] devabdicant commented on #41
yes, blank screen inside webssh

Thanks for the quick bug fix. Is 14.1.11 available to use from my iphone?

[2020-08-14 07:31] isontheline commented on #41
Please install _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z

[2020-08-14 11:04] marek90 commented on #43
Hi @isontheline, thanks for looking into this! Well, I've some apps (can't remember which off top of my mind) to offer both -- you can select to use iCloud backuo/sync (using a toggle) in addition to being able to export the settings into a zip file (via a share sheet).

[2020-08-14 11:22] isontheline commented on #43
Now planned ;)

[2020-08-14 16:36] isontheline commented on #41
I can't reproduce :(

When I enter 8080:127.0.0.1:80 through tunnel by using a LAN server (192.168.0.150) it works "great" :
- Tunnel is established
- Web view display the web page

Does your tunnel forward an external IP (outside the remote server)?

[2020-08-14 19:54] devabdicant commented on #41
Yeah, i finally did it with 14.1.11. It works Perfect!

Thanks!

[2020-08-14 20:15] isontheline commented on #41
So great and thanks for your feedback!

☀️ Have a nice day

[2020-08-14 20:15] #41 closed

[2020-08-14 20:35] isontheline commented on #19
Fixed in WebSSH TestFlight 14.1.12 : https://testflight.apple.com/join/QSrBK59z
**Will be available in a few minutes**

☀️ Have a nice day

[2020-08-15 07:43] #19 closed

[2020-08-15 17:01] chuan01 commented on #43
Can you add a key management system, including one-click key generation, management of public keys, private keys, etc., import and export. Write public key to server with one click

[2020-08-15 19:19] isontheline opened #46 "Key Management System"
Can you add a key management system, including one-click key generation, management of public keys, private keys, etc., import and export. Write public key to server with one click

_Originally posted by @chuan01 in https://github.com/isontheline/pro.webssh.net/issues/43#issuecomment-674423540_

- [x] https://github.com/isontheline/pro.webssh.net/discussions/402 by @apenen
  - [x] Long press (righ

[2020-08-15 19:34] isontheline commented on #32
Thanks @sgberman to continue submitting crash reports!

I have see that pattern each time :
[code]

**doesNotRecognizeSelector** is perhaps linked to a previously deallocated object. I'm searching 🔍

[2020-08-15 19:37] isontheline opened #47 "Crash when pinching the terminal"
**Describe the bug**
Use fingers to play zoom in gesture but the application crashes

**Informations**
 - Device : iPhone X
 - OS : iPhone OS 13.6 (17G68)
 - WebSSH Pro version : 14.1.11

**To Reproduce**
Steps to reproduce the behavior:
1. Go to terminal
2. Pinch the terminal
3. Crashes

[2020-08-15 19:39] isontheline commented on #47
[code]

[2020-08-15 20:10] isontheline commented on #32
@sgberman I'm able to reproduce the crash!!!!! 🥇

**Temporary** could you try to disable :
Settings->Accessibility->Keyboards->Full Keyboard Access

[2020-08-15 21:57] sgberman commented on #32
Found an interesting bug.

The terminal works fine the first time the application is opened.  When you
close the ssh session and then open it again, the terminal defaults to 25
lines instead of 42 (iPad in landscape).  The number of lines can be
corrected by rotating the iPad 90 degrees and then rotating it back again.

On Sat, Aug 15, 2020 at 1:11 PM Arnaud MENGUS <notifications@github.com>
wrote

[2020-08-16 10:10] isontheline commented on #32
Yes it's related to issues #37, #44 and #45
I will fix them asap

Thanks for your feedback!

[2020-08-16 10:10] #32 closed

[2020-08-16 10:16] isontheline commented on #32
I'm closing this issue because it's an Apple bug which is not present in iOS 14 Beta

If the bug appear again, please notify me and I will find a persistent solution.
Yet if anybody encouter the problem please do the following :
Settings->Accessibility->Keyboards->Full Keyboard Access->No

[2020-08-18 20:12] isontheline opened #48 "Local Shell Commands"
Hello Folks :)

What do you think about an integration of local shell commands like :
* ls, cp, rm
* curl, scp, sftp, ssh, tar, gzip
* ping, nc, nslookup, host, dig, telnet, whois

By local I mean that command are executed on your device and not remote.

Could an integration like this can be useful for WebSSH?

[2020-08-19 02:19] lateparty commented on #48
Definitely would be useful

[2020-08-19 04:13] isontheline commented on #48
Thanks for your feedback @lateparty !

[2020-08-19 06:43] isontheline opened #49 "In App Rating"
# Goal
Have a friction less feedback workflow

# How to implement
* https://stackoverflow.com/questions/43177249/skstorereviewcontroller-how-to-use-it-in-a-correct-way

[2020-08-19 15:22] cxy5014 opened #50 "Translate error."
**Describe the bug**
Translate error.
1. “简体中文” not “简体中国”.
2. “日本語” not “日本人”.

**Informations**
 - Device : iPhone 6s Plus
 - OS : iOS 14.0
 - WebSSH Pro version : 14.1

**Screenshots**
![image](https://user-images.githubusercontent.com/42842481/90653874-4fba9b00-e272-11ea-93e9-fa5c4fb4021c.jpeg)
**To Reproduce**
Steps to reproduce the behavior:
None.

[2020-08-19 15:28] lanxia opened #51 "2FA : Can't establish SSH connection"
**Describe the bug**
A clear and concise description of what the bug is.

**Informations**
 - Device : iPad Air3
 - OS : iOS 13.6
 - WebSSH Pro version : latest

**To Reproduce**
When using ssh to connect my server in company, normally I will tap my phone to confirm the connection and then the connection will establish. But I can't do this in web ssh, and I try another ssh software in iPad can do

[2020-08-19 15:47] isontheline commented on #51
Hello @lanxia !

* Are you talking about 2FA for your SSH connection?
* Which other applications are you using on iOS? Does they support keyboard interactive?
* I need more information about your use case.

[2020-08-19 15:52] isontheline commented on #50
Hello @cxy5014

Thanks for your feedback!

Translation sentences have been written by users a long time ago.

Could you teach me why only the latest "character" need to be changed?

Sorry for my ignorance :(

[2020-08-20 02:05] lanxia commented on #51
1. I think so but I tried the two factor feature the ssh pro provide but it doesn't work;
2. termius

Below is the typical process that  connect to my company's  server using Mac:
1. ssh -i ~/.ssh/id_rsa username@server
2. then something like below will show up and a message wil be sent to my phone:
<img width="873" alt="image" src="https://user-images.githubusercontent.com/4338871/90708233-dfd8fe

[2020-08-20 04:13] isontheline commented on #51
@lanxia

If the error message doesn't contain any sensitive datat, yes please provide it.

I think I have a bug with 2FA or with keyboard interactive for authentication.
Have you the name of the system installed at your company (in order to reproduce the same error)?

Thanks for your feedback

[2020-08-20 13:43] lanxia commented on #51
@isontheline
here is the error message:
![IMG_0025](https://user-images.githubusercontent.com/4338871/90777473-0d569400-e32e-11ea-9502-2add09d02d91.png)
and sorry that I don't know the name of the system.

[2020-08-20 19:23] isontheline commented on #51
I will check why keyboard interactive doesn't work as expected

[2020-08-20 20:04] isontheline commented on #50
Fixed in 14.2.4 available on TestFlight : https://testflight.apple.com/join/QSrBK59z

☀️ Have a nice day

[2020-08-20 20:04] #50 closed

[2020-08-20 20:23] isontheline commented on #49
Available in 14.2.5 on TestFlight

[2020-08-20 20:23] #49 closed

[2020-08-27 05:51] isontheline opened #52 "UI Bug : JGActionSheetSection behind bottom menu on iPhone X / 11"
**Describe the bug**
A clear and concise description of what the bug is.

**Informations**
 - Device : iPhone X / 11
 - OS : 13/14
 - WebSSH Pro version : 14.2

**Screenshots**
![Simulator Screen Shot - iPhone 11 - 2020-08-27 at 07 49 59](https://user-images.githubusercontent.com/44212923/91391907-14a00500-e83a-11ea-96c2-af9ebf118e21.png)

**To Reproduce**
Try to clone a connection

[2020-08-27 18:55] #29 closed

[2020-08-29 20:29] Dragon-Fish commented on #48
Oh, really? May I ask to run Node.js on my mobile device? 😂

Whatever it’s a good idea!

[2020-08-29 20:32] isontheline commented on #48
@Dragon-Fish 😂
Thanks for your feedback!

[2020-08-29 22:02] antdude opened #53 "+ button is hidden to add a connection in my old iPhone 6+ (iOS v12.4.8)."
**Describe the bug**
Blue + button is hidden to add a connection in my old iPhone 6+ (iOS v12.4.8).

**Informations**
 - Device : iPhone 6 Plus
 - OS : iOS v12.4.8
 - WebSSH Pro version : 14.1

**Screenshots**
https://ibb.co/album/6Rtm10

**To Reproduce**
Steps to reproduce the behavior:
1. Use an old iPhone 6+ with its iOS v12.4.8.
2. Download, install, and run a brand new WebSSH Pro v14.1.
3. Ad

[2020-08-30 04:48] avalonix commented on #53
I confirm.  the problem has existed for a long time.  shows up on my iPhone 11 too

[2020-08-30 04:53] antdude commented on #53
Wow. Even on the newest model! That's not good. This is a bad user experience for newbies like me. :(

[2020-08-30 04:56] avalonix commented on #53
![image](https://user-images.githubusercontent.com/29081475/91651515-d879d800-eab7-11ea-8302-8ba23d161796.jpeg)

[2020-08-30 05:51] isontheline commented on #53
Hello @antdude  👋
Thanks for your issue!

I will fix it in a few hours!

In the mean time :
Please install _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z

You will receive a notification as soon as the fix is available.

☀️ Have a nice day

[2020-08-30 06:22] antdude commented on #53
Thanks isontheline! I'll just wait for the stable fixed version from Apple's App Store. :)

[2020-08-30 06:35] isontheline commented on #53
No problem 👍

[2020-08-30 08:37] michaaa opened #54 "missing ed25519 support"
WebSSH doesn’t support ed25519 keys right now, this makes some servers unreachable for public key authentication. Is it possible to add support for ed25519 private keys?

[2020-08-30 09:21] isontheline commented on #54
Hello @michaaa

Thanks for your issue!

ed25519 support should be available since #5

I'm closing this issue because it have a lake of:
- evidences that WebSSH doesn't support ed25519 (any logs?)
- bug model report (https://github.com/isontheline/pro.webssh.net/issues/new?assignees=&labels=&template=bug_report.md&title=) is missing, which device?, which iOS version?, which ssh server version? whic

[2020-08-30 09:21] #54 closed

[2020-08-30 09:28] isontheline commented on #54
Could you also put informations about your public key :
ssh-keygen -l -f /private/etc/ssh/ssh_host_ed25519_key.pub

[2020-08-30 19:19] #53 closed

[2020-08-31 12:05] Freakboy opened #55 "sftp couldn't upload and download file"
I tried add a sftp connection,but it is haven't upload and download file,files function

[2020-08-31 12:49] isontheline commented on #55
Hello @Freakboy  👋
Thanks for your issue!
But...

...Every time someone does not respect the issue's template, a little mouse dies.

<details>
<summary>Learn how</summary>

![little-mouse-dies-or-not-it-depends-on-you](https://user-images.githubusercontent.com/44212923/91720843-10584c80-eb98-11ea-80b8-fdc48f92392c.gif)
</details>

Please edit your issue description to respect the issue template as

[2020-08-31 12:49] #55 closed

[2020-09-01 01:25] antdude commented on #53
I got a new updated app, but don't see this fixed?

[2020-09-01 04:12] isontheline commented on #53
It's planned for 14.3 not 14.2
As mentionned above, please install the TestFlight release in order to test the fix. This beta release is as stable as the App Store one.

14.3 is not planned for release right now, there are others bugs waiting for a fix.
I think 14.3 should be released in 15-30 days, or before.

[2020-09-01 04:39] antdude commented on #53
Thanks. I will wait again. :)

[2020-09-01 06:18] isontheline opened #56 "App Store : Add more screenshots (3 to 5) for iPhone and iPad"

[2020-09-01 12:17] chaoticjoy opened #57 "SFTP : add support for move and copy"
**Describe the feature**
Could you add move and copy support inside the SFTP client?

[2020-09-01 19:51] isontheline commented on #57
@chaoticjoy hello!

Thanks for your first issue right here, your request is now planned.

☀️ Have a nice day

[2020-09-01 23:34] SJ50 opened #58 "Double tap on screen to simulate TAB"
**Parent feature category**
-SSH

**Describe the feature**
Double tap anywhere on screen (other than keyboard) to emulate TAB.

[2020-09-01 23:37] SJ50 opened #59 "Swipe on screen to move cursor"
**Describe the feature**
Swipe on screen to move cursor to go left and right. Up and down for scrolling terminal up and down.

[2020-09-02 04:15] isontheline commented on #59
Good one!

Now planned.

☀️Have a nice day

[2020-09-02 04:18] isontheline commented on #58
☀️Thanks again, planned for milestone 15

[2020-09-02 05:26] isontheline commented on #43
# In-App Purchase
- [ ] (Tier 2) Export / Import database #23
- [ ] (Tier 3) iCloud Sync #23

[2020-09-02 05:27] isontheline commented on #48
# In-App Purchase
- [ ] (Tier 3) Unlock all local commands #23

[2020-09-02 05:29] isontheline commented on #57
# In-App Purchase
- [ ] (Tier 2) Copy / Move files and folders with SFTP #23

[2020-09-03 18:15] thaihugo opened #60 "Terminal : Ability to choose a custom monospaced font"
Hi,

A neat addition would be support for additional font, either by adding them as CSS font, or using the additional one installed as a profile from iOS (Using ifont for example).
Currently, other SSH programs have this support, so you can use for example a nerd font or a powerline font to display specific terminal symbols. If I open the same session under webssh, I dont get the proper characters

[2020-09-03 18:54] isontheline commented on #60
Hi @thaihugo !

Thanks for this neat feature request 👍

In order to implement custom fonts I first need to upgrade the terminal engine on issue #21

[2020-09-03 18:56] isontheline commented on #60
# In-App Purchase
- [ ] (Tier 1) Additional fonts for the SSH terminal #23

[2020-09-04 07:10] thaihugo commented on #60
Thanks. If you want to see the full extend of font support (which I'm not asking but for you to know), you can have a look at the Iosevka font (https://github.com/be5invis/iosevka), ligatures Support  (for developers on vim for example to get special symbols with 2 caracters), vim-powerline like in this example if I launch vim:
![413DCA41-C19A-4D1C-9AF7-71A673FCB643](https://user-images.githubuser

[2020-09-05 09:06] isontheline commented on #60
Thank you a lot for adding additional knowledge!

[2020-09-05 11:35] dxniel7402 opened #61 "RSA: Not a recognized key type"
Hello,
I want to connect to my Server with an RSA Key, but the App can‘t. See at the screenshot below.

The key was generated in GitHubs Bash Tool. It‘s the same key like i use it in putty - just copy paste it.

iOS 14 Public Beta 7 - iPhone XS Max

![D90D3CBF-3EC5-4AE2-93AF-49D49E160B4A](https://user-images.githubusercontent.com/61451617/92304234-66543800-ef7c-11ea-98f6-230af07c6bec.jpeg)

[2020-09-05 16:02] isontheline commented on #61
Hello @dxniel7402

* Can you confirm me that you use the private key and not the public one?
* Can you share an **example** and **unused** private key? If not please provide here how you generate the private key (the full command line)

[2020-09-06 19:05] isontheline commented on #20
I have made a fix and I'm currently pushing it to TestFlight so it will available in the next few hours.

[2020-09-06 19:16] isontheline commented on #61
@dxniel7402 I'm closing this issue 😕
Please reopen this issue as soon as you can share detailed reproduce steps.

☀️ Have a nice day

[2020-09-07 04:14] isontheline commented on #20
@chuan01 The fix is now available on TestFlight.

Could you check it?

☀️ Have a nice day

[2020-09-07 04:14] #20 closed

[2020-09-07 19:14] antdude commented on #53
I got the updated app and confirmed that it is fixed. Thanks again. :)

[2020-09-07 19:14] antdude commented on #53
I got the updated app and confirmed that it is fixed. Thanks again. :)

[2020-09-07 19:19] isontheline commented on #53
Thanks for your feedback @antdude
☀️ Have a nice day!

[2020-09-10 04:21] isontheline opened #62 "Home Screen Quick Actions"
**Describe the feature**
To be able to launch common WebSSH tasks from the home screen icon. For example we could star a SSH connection an be able to launch it quickly through the home icon.

**Documentation**
https://developer.apple.com/design/human-interface-guidelines/ios/system-capabilities/home-screen-actions/

**TODO**
- [x] Launch mashREPL

[2020-09-13 18:07] blobf75 opened #63 "After switching to a new Iphone I cannot download the license"
Yesterday I moved data to the new Iphone. WebSSH has been automatically installed but I cannot download my free license. I used the free version on 1st September 2020. What can I do?

[2020-09-13 18:39] isontheline commented on #63
Hello @blobf75

WebSSH contains In-App Purchases since August 29, 2020 (and it's free since).
So since August 29, 2020 you need to purchase the "Unlimited" feature inside WebSSH in order to add unlimited connections.

As the migration may have been broken for any reason in your case, please contact me here :
https://mengus.net/#contact

☀️ Have a nice day

[2020-09-13 18:39] #63 closed

[2020-09-13 20:12] isontheline commented on #39
I can't reproduce on iPad Pro (iOS 13.6), keyboard is always black when setting the password.

Could you check again against WebSSH 14.3?
![Simulator Screen Shot - iPad Pro (9 7-inch) - 2020-09-13 at 22 11 33](https://user-images.githubusercontent.com/44212923/93027576-1c1f2680-f60e-11ea-90dd-bf44f85e4bbd.png)

[2020-09-13 20:12] #39 closed

[2020-09-16 19:16] isontheline commented on #45
@avalonix Hello!

A fix is now available on TestFlight.

☀️ Have a nice day

[2020-09-16 19:16] #45 closed

[2020-09-16 19:46] sgberman opened #64 "Map touch to mouse events in ssh"
**Describe the feature**
Can you make the touch screen emulate a mouse?  This feature would be useful when editing a file in VIM to allow you to move the cursor to the location you point at with your finger thereby allowing for faster text editing.

[2020-09-16 19:50] isontheline commented on #64
Yes it should be possible to map touch to mouse events and it will be great I agree 👍

[2020-09-16 19:52] isontheline commented on #36
Hello @chuan01

I have fixed the repeat bug. Please note that a black bar will remain above the keyboard (pinyin prediction?) **and I will not** remove it **yet**.

Could you test the TestFlight release?

☀️ Have a nice day

[2020-09-16 19:52] #36 closed

[2020-09-17 05:27] isontheline commented on #48
I think I will use : https://github.com/holzschu/ios_system/

[2020-09-17 19:14] isontheline commented on #64
Finally it's a duplicate of #59

I'm closing this issue and will do the work on #59

[2020-09-17 19:15] isontheline commented on #59
From @sgberman issue #64 :

[2020-09-20 19:09] isontheline opened #65 "Ability to copy error message when connecting to SSH, SFTP, Tunnel"
**Parent feature category**
- [X] SSH
- [X] SFTP
- [X] Tunnel
- [ ] Web
- [ ] Tools

**Describe the feature**
- [ ] Ability to copy error message
- [ ] Remove useless parts of error message

[2020-09-20 19:11] isontheline opened #66 "Migrate all licenses to this repository"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [ ] Tools

**Describe the feature**
- [x] Migrate all licenses to this repository
- [x] Remove unused licenses
- [x] Add https://github.com/holzschu/ios_system/blob/master/LICENSE

[2020-09-20 19:16] isontheline opened #67 "Migrate translation files to this repository"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [ ] Tools

**Describe the feature**
- [ ] Migrate translation files to this repository
- [ ] Allow users to translate through https://poeditor.com/

[2020-09-20 19:18] isontheline opened #68 "Special Keys"
**Describe the feature**
- [x] Promote directional keys and FX
- [x] Start joystick depreciation
- [x] Deleted optional keys must go in "..." key

[2020-09-24 19:15] isontheline opened #69 "iOS 14 Local Network Privacy Restrictions"
**Parent feature category**
- [X] SSH
- [X] SFTP
- [X] Tunnel
- [X] Web
- [X] Tools

**Describe the feature**
Apple added privacy control in iOS 14 that affects apps accessing the local network. When your app tries to access the user's local network, iOS will show a prompt asking the user to allow access.

- [x] Customize the prompt in order to tell the user why WebSSH want to connect to the local

[2020-09-24 19:31] isontheline commented on #69
Fixed in upcoming 14.5

[2020-09-24 19:31] #69 closed

[2020-09-26 19:31] isontheline opened #70 "Migration of WHOIS and PING to local commands"
**Describe the feature**
Instead of using a distinct code and UI, migrate WHOIS and PING to local commands through local shell.

[2020-09-27 11:04] liqimai commented on #59
If so, we will have full mouse support when using vim or tmux.

[2020-09-30 18:54] isontheline opened #71 "WebSSH Legacy : Old directory and files cleanup"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [X] Tools

**Describe the feature**
Before WebSSH 14.0 I have used some analytics tools :
* Google Analytics
* Helpshift

It's bad 👎  and I will never use ana analytic product inside WebSSH.
**WebSSH is now and will remain free of any analytic product.**

If you have used WebSSH before 14.0 you should have some files / folde

[2020-09-30 19:03] isontheline opened #72 "Improve WebSSH Documentation"
- [x] Setup : https://squidfunk.github.io/mkdocs-material/

[2020-10-01 18:22] isontheline opened #73 "mashREPL : Implements Ctrl-Command"
**Describe the feature**
Implements Ctrl-Command :
- [X] Ctrl-C
- [x] Ctrl-D

[2020-10-01 18:24] isontheline opened #74 "mashREPL : Premium Commands"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [X] Tools

**Describe the feature**
Some commands should only be available to users who have buyed "WebSSH Unlimited"

[2020-10-01 18:26] isontheline opened #75 "mashREPL : Implements "help" command as a native Objective-C program"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [X] Tools

**Describe the feature**
Implements a command in order to give help about which commands can be launched

[2020-10-01 18:29] isontheline opened #76 "mashREPL : Implements history"
**Describe the feature**
- [x] Implements history
- [x] History can be browser through directional keys
- [x] History is saved and loaded from disk file ~/Documents/.mash_history
- [x] Command is not saved to history if command starts with a white space
- [x] Implements right and left cursor edit

[2020-10-01 18:59] isontheline opened #77 "mashREPL : don't use env variable $? to store command result"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [X] Tools

**Describe the feature**
Right now I use env variable $? to store the command result.
I think it's not the right way.
I think I need to replace "$?" string on the fly when requested on the REPL.

[2020-10-01 19:02] isontheline opened #78 "mashREPL : allow users to define aliases"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [X] Tools

**Describe the feature**
It should be great to define aliases :
- [ ] https://doc.ubuntu-fr.org/alias
- [ ] ~/Documents/.mash_aliases

[2020-10-01 20:14] isontheline commented on #66
![Capture d’écran 2020-10-01 à 22 13 13](https://user-images.githubusercontent.com/44212923/94858491-69373100-0433-11eb-8c95-28b3760ebed7.png)

[2020-10-02 05:28] isontheline opened #79 "mashREPL : man doc"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [X] mashREPL
- [ ] Other tool / feature

**Describe the feature**
Allow access to man doc through command line :
- [ ] Show doc through terminal
OR
- [ ] Show doc through web browser by using open/openurl

Need to import the whole man doc? Or just downloading it just in time?

[2020-10-03 20:19] #66 closed

[2020-10-04 18:20] isontheline opened #80 "App Clip : Quickly access and experience what WebSSH has to offer"
**Describe the feature**
* https://developer.apple.com/app-clips/
Part of the WebSSH app that can be an App Clip :
- [ ] mashREPL
- [ ] SSH Client
- [ ] Ping
- [ ] Whois

[2020-10-04 18:21] isontheline opened #81 "Server Widgets"
**Describe the feature**
* https://developer.apple.com/widgets/
  * Need to define which Widget feature could be implemented
* Ability to send SSH commands
  * With or without launching WebSSH UI

[2020-10-04 18:24] #72 closed

[2020-10-04 19:50] isontheline opened #82 "Documentation : Add old changelogs"

[2020-10-04 20:21] isontheline commented on #82
Height years of development 😢

[code]

[2020-10-05 19:35] #74 closed

[2020-10-05 20:02] #75 closed

[2020-10-05 20:03] isontheline commented on #48
Available in TestFlight release (not all commands).

[2020-10-05 20:03] #48 closed

[2020-10-06 20:07] isontheline commented on #26
Hello @lukensmall

I can't reproduce the bug.

Please post a video of this bug and I will reopen this issue.

☀️ Have a nice day

[2020-10-06 20:07] #26 closed

[2020-10-07 07:16] atefsaleh opened #83 "Tunnel active for only a few moments after i switch from webssh to another app"
**Parent feature category**

- [*] Tunnel

**Describe the bug**
_A clear and concise description of what the bug is. Be warned : I will refuse reports with no or little informations_

**Informations**
 - Device : iPhone 11 Pro Max
 - OS : iOS 14.2 Public Beta
 - WebSSH free version

**Screenshots**
Unfortunately not applicable

**To Reproduce**
Steps to reproduce the behavior:
1.Add an ssh tunnel,

[2020-10-07 19:28] isontheline opened #84 "When tunnel is up and running : don't show a RED circle but a BLUE or GREEN one instead"
**Parent feature category**
- [X] Tunnel

**Describe the feature**

[2020-10-07 19:35] isontheline commented on #83
Hello @atefsaleh and thank you a lot for your report ❗

I'm aware about limitation about background operations and need to improve WebSSH.
Another issue has been opened here #25 but I think yours must be kept open too 👍

This is not a bug from WebSSH but a limitation from Apple in order to prevent battery drain and privacy safe.
I will find a solution in the next days :muscle:

:sunny: Have a nice

[2020-10-09 11:46] baderalnhdy commented on #23
Hi

[2020-10-09 16:34] isontheline commented on #23
Hi @baderalnhdy 👋

[2020-10-09 22:49] atefsaleh commented on #83
@isontheline many thanks for your prompt response, your explanation makes perfect sense, hope you will be able to find a way to get it working, again, merci beaucoup

[2020-10-11 19:26] isontheline commented on #43
I also plan to let user import/export WebSSH database through mashREPL

[2020-10-13 19:02] isontheline commented on #84
Done. We will available soon on TestFlight.

[2020-10-13 19:02] #84 closed

[2020-10-15 08:25] Mrxwise opened #85 "^H perform incorrectly in ssh"
**Describe the bug**
I redirected keras training output data-stream to a local file. When I cat these files, the backspace character ^H does not perform correctly.

**Informations**
 - Device : iPhone 6S, iPad 2018
 - OS : IOS 13
 - WebSSH Pro version : 14.5.11

[2020-10-15 19:02] isontheline commented on #85
Hello @Mrxwise👋

* I need more reproducing steps
* What is "keras training output data-stream"?
* "^H does not perform correctly". OK but what's the intended behavior?

I will reopen this issue when you come back.

☀️ Have a nice day

[2020-10-16 03:12] Mrxwise commented on #85
Hello Mr. Mengus👋Thanks for your reply.
I'm sorry for that I didn't explain the issue clearly, so I will add some screenshots.
I want to run the following code:

The <model_train.py&gt; is the code for model training using keras library.
The redirect file <model_train.log&gt; can be shown as:

There are many backspace characters. However, when I try to load the file with code:

It displays,

It lo

[2020-10-16 10:33] isontheline commented on #85
Hello @Mrxwise

I'm sorry but there is no screenshots attached to your comment :(

Could you check it?

Best Regards,

[2020-10-16 11:28] Mrxwise commented on #85
Dear Mr. Mengus
Oh, that could be caused by network problems.

I will send my email to you again as a PDF file, as an attachment to this email. Hope you can receive it this time.

Best wishes,

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "isontheline/pro.webssh.net"

[2020-10-16 11:33] isontheline commented on #85
Instead you should use Github inside your web browser.

Emails may leaks sensitive data.

Best Regards,

[2020-10-16 11:54] Mrxwise commented on #85
This is the third time I am doing the same thing :mask:.

Well, here's my issues.

I want to run the following script in bash:

`$ python -u model_train.py >./model_train.log 2>&1`

'model_train.py' is the source code for model training using keras library.

The redirect file `model_train.log` is shown as:
![1](https://user-images.githubusercontent.com/29838202/96254867-9addf980-0fe8-11eb-9a8a-cd4

[2020-10-16 12:05] isontheline commented on #85
Thanks for your quick reply

Could you post a sample of your model_train.log?

☀️ Thank you a lot

[2020-10-16 13:09] Mrxwise commented on #85
of course
[model_train.log](https://github.com/isontheline/pro.webssh.net/files/5391754/model_train.log)

[2020-10-16 19:22] isontheline commented on #85
@Mrxwise

I have run cat and tail (inside mashREPL)
with your file and everything I think works :
- Each lines are displayed correctly without the ^H character

![simulator_screenshot_9414F70A-AF2A-4C5D-9AAF-A95341D46971](https://user-images.githubusercontent.com/44212923/96300247-83593d80-0ff5-11eb-8f64-90238e4022b0.png)

What behavior did you expect?
Did you expect string in place replacement?

[2020-10-16 19:23] isontheline commented on #85
![Capture d’écran 2020-10-16 à 21 23 14](https://user-images.githubusercontent.com/44212923/96300434-d03d1400-0ff5-11eb-95a3-ac21642f555c.png)

You're right! Inside macOS terminal it works as you said.

[2020-10-16 19:24] isontheline commented on #85
I have planned this issue

[2020-10-17 10:17] Mrxwise commented on #85
:smiley::smiley:

[2020-10-22 04:40] lukensmall commented on #26
Musta been something iPhone or OpenBSD related, which has been since solved!

Thanks for checking it out!!!

On Tue, Oct 6, 2020 at 3:07 PM Arnaud Mengus <notifications@github.com>
wrote:

--
-Luke

[2020-10-22 05:23] isontheline commented on #26
@lukensmall Thank you a lot for your reply!

[2020-10-22 05:38] isontheline opened #86 "Settings : removed unused and disable if no IAP"
# Settings
- [x] Remove "Notifications" entry
- [x] WebSSH Settings : grayed out if no IAP
  * Put a button to purchase "Unlimited" IAP
- [x] SSH Settings : grayed out if no IAP
  * Put a button to purchase "Unlimited" IAP

[2020-10-24 18:52] lawsonav opened #87 "Able to download a file through SFTP"
**How to**
Forgive me if this is pedestrian, but I cannot figure out how I can save/download a file to my phone via SFTP.

My use case:

Setting up an OpenVPN server on a Pi - I want to save the client key .ovpn file. I assumed I can do this by long press, or swipe left/right on file. But I can’t find any save/transfer option at all?

[2020-10-24 19:06] isontheline commented on #87
Hello @lawsonav 👋

You're right, WebSSH doesn't offer this feature yet.

It's now planned for 15.0

[2020-10-24 19:08] lawsonav commented on #87
Ok. Super cool app still. Think I’ll end up going pro. 😅

Trying out a few ssh atm but this one is the best so far by a long way.

[2020-10-24 19:08] isontheline commented on #83
Hello @atefsaleh 👋

A beta release will be available soon on TestFlight : https://testflight.apple.com/join/QSrBK59z

[2020-10-24 19:10] isontheline commented on #87
Thank you a lot for your support! 👍 😇

[2020-10-25 20:49] isontheline commented on #83
Related to #25 VPN-Over-SSH

[2020-10-26 20:27] isontheline opened #88 "mashREPL : Crash when clipboard button pressed"
**Parent feature category**
- [X] mashREPL

**Describe the bug**
When clipboard button is pressed inside mashREPL, a crash occurs.

[code]

Many thanks to Robert Eason

[2020-10-26 20:39] isontheline commented on #88
Fixed inside 14.6

[2020-10-26 20:39] #88 closed

[2020-10-26 22:28] baitna301 opened #89 "Web"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [x] Web
- [ ] mashREPL
- [ ] Other tool / feature

**Describe the feature**
_A clear and concise description of what the feature is. Be warned : I will refuse requests with no or little informations_

**Screenshots / Draws**
_If applicable, add screenshots and/or draws to help explain your feature request._

[2020-10-26 22:28] baitna301 opened #90 "Web"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [ ] mashREPL
- [ ] Other tool / feature

**How to**
_A clear and concise question about the use of any WebSSH feature. Be warned : I will refuse requests with useless questions_

[2020-10-26 22:29] baitna301 opened #91 "Web"
**Parent feature category**
- [ ] SSH
- [ ] SFTP
- [ ] Tunnel
- [ ] Web
- [ ] mashREPL
- [ ] Other tool / feature

**Describe the bug**
_A clear and concise description of what the bug is. Be warned : I will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add sc

[2020-10-26 22:29] baitna301 commented on #89
Web

[2020-10-27 05:12] #89 closed

[2020-10-27 05:12] #90 closed

[2020-10-27 05:12] #91 closed

[2020-10-27 21:41] isontheline commented on #83
@atefsaleh I will push a pre-beta-release in a few hours.

Have you already downloaded the TestFlight Beta Release?

[2020-10-28 20:01] isontheline commented on #83
Now available for every beta tester through TestFlight

[2020-10-28 20:01] isontheline commented on #25
Now available for every beta tester through TestFlight

[2020-10-28 20:22] isontheline commented on #23
At this time I think that WebSSH will only have "Unlimited" IAP.

[2020-10-28 20:22] #23 closed

[2020-10-29 05:58] atefsaleh commented on #83
@isontheline didn't yet but will do and feed back as soon as possible , many thanks.

[2020-10-29 07:15] atefsaleh commented on #83
@isontheline downloaded the 14.6.2 from TestFlight, issue has been resolved, i was able to maintain a connection through the tunnel for 10 minutes (after which i disconnected gracefully) also the connection persists if the mobile is locked (i locked it manually), i can find my connection still up after unlocking the mobile.
Thanks for your response and reaction, keep up the good work.
Finally enco

[2020-10-29 07:31] isontheline commented on #83
Thank you for your feedback @atefsaleh 👍
There are some glitches right now but it will work 😇

Merci à vous pour votre soutien et bonne continuation.

[2020-10-29 07:31] #83 closed

[2020-10-30 19:56] #25 closed

[2020-10-30 20:18] #82 closed

[2020-10-31 20:13] #52 closed

[2020-10-31 20:27] #86 closed

[2020-11-01 04:59] Cnjones1 opened #93 "Mr"
**How to**
_A clear and concise question about the use of any WebSSH feature. Be warned : I will refuse requests with useless questions_

[2020-11-01 20:54] #56 closed

[2020-11-01 21:01] isontheline opened #94 "mashREPL : Crash when too many arrow keys are pressed (eg from joystick)"
**Describe the bug**
When too many arrow keys are pressed (eg from joystick) mashREPL will crash.

**Screenshots**
![unnamed](https://user-images.githubusercontent.com/44212923/97815333-7db65580-1c8d-11eb-872b-3507b69f7d07.jpg)

**To Reproduce**
Steps to reproduce the behavior:
1. Use joystick (from WebSSH settings)
2. Launch mashREPL
3. Use the joystick in all directions
4. See crash

[2020-11-01 21:01] isontheline commented on #94
I also need to support history inside mashREPL : #76

[2020-11-01 21:12] isontheline commented on #94
[code]

[2020-11-02 17:08] Julius-Lab opened #95 "WebSSH on iPad OS"
**How to**
First of thank you for the great app. I love a PRO version of it on my iPad. The question I have is about is there a way to establish a connection through a gateway using stdio forwarding like:
ProxyCommand ssh -W %h:%p ....

Thank you,
Julius

[2020-11-02 19:16] isontheline commented on #95
Hello @Julius-Lab 👋

Thank you a lot for your support!

Do you need to open a tunnel (local port forward) in order to establish another connection?

[2020-11-02 19:48] Julius-Lab commented on #95
Hello Arnaud,

Thanks for your reply! Basically what I need is to find a way how to
trespass the interim server onto another one without having my private key
in the middle. In regular terminal I would do it lik:

ssh -i <identityfile> -l <username> -J  zzz.zzz.zz.zzz xxx.xxx.xx.xxx

Thanks.
Julius

On Mon, 2 Nov 2020 at 21:16, Arnaud Mengus <notifications@github.com> wrote:

--
Sincerely,
Julius

[2020-11-02 19:55] isontheline commented on #95
@Julius-Lab

**Yet** WebSSH doesn't support "easy" jump.
So you need Port Forwarding to be setup.

Here xxx.xxx.xx.xxx will be your jump server.
Here zzz.zzz.zz.zzz will be your target server.

Please test these steps :
* Add a Tunnel (inside WebSSH) to xxx.xxx.xx.xxx (with correct credentials)
  * Inside Port Forwarding put : 2222:zzz.zzz.zz.zzz:22
* Add now a SSH connection
  * Inside port put :

[2020-11-02 20:05] Julius-Lab commented on #95
Hi Arnaud,

That did a trick! Thanks so much!

Sincerely,
Julius

On Mon, 2 Nov 2020 at 9:55 PM, Arnaud Mengus <notifications@github.com>
wrote:

--
Sincerely,
Julius

Julius Labintsev -- Head of Operations
Office: 1-402-337-8004|  Email: julius@ecomitize.com

PO Box 460849 Papillion, NE 68046 | http://www.ecomitize.com

[2020-11-02 20:21] isontheline commented on #95
@Julius-Lab You're Welcome!

You can also find Port Forwarding documentation right here if you need : https://webssh.net/documentation/help/networking/port_forwarding/

Have a nice day ☀️

[2020-11-02 20:21] #95 closed

[2020-11-02 20:49] isontheline opened #96 "Privacy Policy : Update required"
The latest is available since 2014, update is now required.

[2020-11-03 07:22] g4challenge opened #97 "Font Support P10K"
For users with ZSH and themes like p10k it would be great to include compatible shell fonts like meslo, patched for fontawesome.

https://github.com/romkatv/powerlevel10k/blob/master/font.md

![IMG_126C032D9EC2-1](https://user-images.githubusercontent.com/7804472/97958481-8f8f1a00-1dad-11eb-84b0-45e1a5d2caa7.jpeg)

[2020-11-03 12:30] isontheline commented on #97
Hello @g4challenge 👋

Thank you a lot for your issue.

I'm referencing issue #60 to track progress.

[2020-11-03 19:28] isontheline commented on #21
Deadline extended :
https://developer.apple.com/news/?id=edwud51q

[2020-11-06 19:32] isontheline commented on #96
https://developer.apple.com/news/?id=vlj9jty9

[2020-11-06 19:34] isontheline commented on #96
* WebSSH doesn't collect any data, so doesn't send any data
* Privacy and security by design is my first priority

[2020-11-07 17:47] ahs3 opened #98 "How do I edit or delete an ssh connection?"
**How to**
_A clear and concise question about the use of any WebSSH feature. Be warned : I will refuse requests with useless questions_

[2020-11-07 20:14] isontheline commented on #98
Hello @ahs3 👋

I've just written a how-to here :
https://webssh.net/documentation/help/howtos/edit-delete-connection/

Does it help you?

Have a nice day ☀️

[2020-11-07 20:14] #98 closed

[2020-11-08 03:42] ahs3 commented on #98
Perfect! That's exactly what I needed.

[2020-11-08 04:35] ftneek opened #99 "Keep Keyboard active on ssh reconnect"
**Describe the feature**
Hello, when returning to the app and reconnecting to an ssh session that was closed due to leaving the app in the background, I have to press the little keyboard icon to use a bluetooth keyboard. It would be awesome if I didn’t have to press the little keyboard icon every time when reconnecting, thanks!

**Screenshots**
![image](https://user-images.githubusercontent.com/34

[2020-11-08 07:01] isontheline commented on #98
You're Welcome

[2020-11-08 17:33] isontheline commented on #99
Hello @ftneek 👋

Thank you a lot for your issue!

I have now planned it inside #37

Have a nice day ☀️

[2020-11-08 17:45] isontheline commented on #51
@lanxia Does your MFA is based on DUO ?
https://duo.com/product/multi-factor-authentication-mfa

[2020-11-09 06:13] lanxia commented on #51
@isontheline  I think the MFA that my company use that looks like the documentation describe but as I mentioned before I don't know the name, thanks a lot that your are still trying to solve this problem.

[2020-11-09 12:22] isontheline commented on #51
@lanxia Thanks for your quick reply

I will try to make Duo compatible with WebSSH and we will check if resolves your issue too

Have a nice day ☀️

[2020-11-10 16:52] worm1271 commented on #25
[code]

[2020-11-12 00:57] baitna301 opened #100 "Ip"
**Describe the bug**
_A clear and concise description of what the bug is. Be warned : I will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Touch

[2020-11-12 05:12] #100 closed

[2020-11-12 11:53] snk33 opened #101 "Multiple tabs support on iPhone / iPad"
Like Terminal native App on MacOS, multiple tabs support would be very nice to have, especially when using app on iPad.

Specs :
- tab name : hostname of server
- add tab : a "+" menu button, a keyboard shortcut Cmd + T would be awesome too
- switch between tab : single tap on tab and a gesture like 3 fingers + left/right (like I use on MacOS)

I often use the app on my iPad when I do not want to

[2020-11-12 13:28] bigboyq opened #102 "Missing magical word * in "Port Forwarding""
I am happy to see the VPN feature from the version 14.6
But quite incovient for me, as I used tunnel as a bastion, instead of VPN.
As I have at least 10 machines to connect through the bastion tunnel.
Under this new feature, I must set up at least 10 tunnels to forward connections.
In the past, just magical word "*" should resolve the problem.
I am happy to have system VPN features instead of in-a

[2020-11-12 13:40] isontheline commented on #102
Hello @bigboyq 👋

Magical word `*` have been only removed from documentation not from the code itself.

Do you experience any problem with the dynamic port forwarding (aka bastion?)

[2020-11-12 13:43] bigboyq commented on #102
Yup, I have downloaded TF version, and make up connection through tunnel successful, with the configuration "*"
I could see VPN logo on top of screen, but every connection I made, no matter in-app or out-app, all through the default wifi or celluar, no as expected through the tunnel

[2020-11-12 13:51] isontheline commented on #102
Thank you a lot for your quick feedback!

So I will fix it as soon as possible.

I will come back to you shortly I think.

Have a nice day ☀️

[2020-11-12 13:52] isontheline commented on #102
Perhaps you could download an older version (before 14.6) in order to use bastion again while I'm working on a fix.

[2020-11-12 13:53] bigboyq commented on #102
That's ok, it seems that you have reproduced the problem, happy to see you online

[2020-11-12 19:39] isontheline commented on #101
Bonjour @snk33 de Bordeaux !

You're right it could be a great addition 😁

[Termius](https://apps.apple.com/us/app/termius-ssh-client/id549039908) also use tabs :
![image](https://user-images.githubusercontent.com/44212923/98987196-3b5f0500-2526-11eb-8e9f-0fa96faff1ae.png)

I dislike "tabs" because at least 2 rows are used and thus this is 2 lines less for the terminal 😕

Right now WebSSH supports

[2020-11-12 20:13] isontheline commented on #102
- [ ] Update documentation about Dynamic Port Forwarding

[2020-11-12 20:20] isontheline commented on #102
@bigboyq TestFlight update will be available tomorrow

Have a nice day ☀️

[2020-11-12 22:16] snk33 commented on #101
I would say the best approach would be like MacOS Terminal app :
- only one tab opened -> no tab menu on top (so maximum space for a single session)
- multiple tabs -> tabs with title

The tab name doesn’t have to be big, just need to distinguish tab names to be able to switch to the desired one easily.

Height would be an issue when using virtual keyboard, I don’t think it would be a problem when

[2020-11-13 06:38] isontheline commented on #101
Oui c'est bien plus clair et j'adhère, merci également pour votre soutien face aux alternatives à WebSSH ;)

I will enhance the current multiple windows system in order to be more efficient and to be more "macOS" like (because iOS apps will be on the Mac App Store soon too).

Thank you a lot again for the description of your need, I will come back to you as soon as possible.

Have a nice day ☀️

[2020-11-13 20:03] isontheline commented on #102
![image](https://user-images.githubusercontent.com/44212923/99115927-8430bf80-25f3-11eb-94ec-03dc9684b973.png)

Always waiting for review... I'm impatient 😇

[2020-11-13 20:08] isontheline commented on #102
Apple are you watching me?

![image](https://user-images.githubusercontent.com/44212923/99116438-513afb80-25f4-11eb-8d82-0b7f91819410.png)

@bigboyq Could you try this beta release please?

[2020-11-13 20:47] md347 opened #103 "Dark mode"
**Describe the feature**
_A clear and concise description of what the feature is. Be warned : I will refuse requests with no or little informations_

**Screenshots / Draws**
_If applicable, add screenshots and/or draws to help explain your feature request._

[2020-11-14 00:19] bigboyq commented on #102
Sorry, just wake up, I am living in EST-8
Have tested.
As the implementation is legacy, in-app test passed, work properly, out-app test failed, as all traffic implemented inside app, not through vpn.

[2020-11-14 07:11] isontheline commented on #102
Hello @bigboyq, thanks for your feedback!

The magical word `*` can only be used inside the app yet.

I will implement outside app traffic later as a lot of work is required.

If you need outside traffic to pas through the port forwarding please use :
* Socks V4 server : 127.0.0.1
* Socks V4 port : 1985

Your outside apps need socks support of course yet.

[2020-11-14 07:13] isontheline commented on #102
@bigboyq Have you used "Web" connections in the past?

[2020-11-14 07:15] isontheline commented on #103
Hello @ 👋
Thanks for your issue!
But...

...Every time someone does not respect the issue's template, a little mouse dies.

<details>
<summary>Learn how</summary>

![little-mouse-dies-or-not-it-depends-on-you](https://user-images.githubusercontent.com/44212923/91720843-10584c80-eb98-11ea-80b8-fdc48f92392c.gif)
</details>

Please edit your issue description to respect the issue template as much as

[2020-11-14 07:16] isontheline commented on #103
Duplicate, already planned in #7

[2020-11-14 07:16] #103 closed

[2020-11-14 12:10] bigboyq commented on #102
I have seen the Web connection in the past, but don't know how to use, no documentation as good as now :)
If I am your product manager, I would suggest:

1. in-app tunnel should be a native feature
2. out-app tunnel(iOS VPN style) could be a in-app-purchase, and more work could be done, just as route table, route list, local port mapping should be a route rule. magical word maybe the default rule,

[2020-11-14 13:56] isontheline opened #104 "VPN Over SSH : Ability to enable Dynamic Port Forwarding outside WebSSH"
If I am your product manager, I would suggest:

1. in-app tunnel should be a native feature
2. out-app tunnel(iOS VPN style) could be a in-app-purchase, and more work could be done, just as route table, route list, local port mapping should be a route rule. magical word maybe the default rule, hoho

I think much more users should be interested in this feature, as using SSH server is much easier th

[2020-11-14 14:01] isontheline commented on #102
I agree!

I have added issue #104 in order to track progress of VPN Over SSH outside WebSSH.

Thank you again for your feedback @bigboyq

[2020-11-14 15:53] isontheline opened #105 "mashREPL : Future features warnings"

[2020-11-14 15:58] isontheline commented on #105
[iSH_Removal_Pending.pdf](https://github.com/isontheline/pro.webssh.net/files/5541028/iSH_Removal_Pending.pdf)
[Fixing Section 2.5.2.pdf](https://github.com/isontheline/pro.webssh.net/files/5541029/Fixing.Section.2.5.2.pdf)
[My app review experiences.pdf](https://github.com/isontheline/pro.webssh.net/files/5541030/My.app.review.experiences.pdf)
https://ish.app/app-store-removal

Apple believes iSH

[2020-11-14 18:34] yblake opened #106 "How to delete an invalid known-host ssh key"
**How to**
Hi, I did a complete rebuilt of my remote computer, flashing a fresh new Ubuntu image on an sd card.
After reboot, the remote computer with same name and IP address is no more reachable, as remote ssh key changed.
In my pc using windows, I had to remove it from ssh known-host file in order to access again the new installation.
I was unable to achieve this with webssh. Deleting and Recre

[2020-11-14 20:06] isontheline commented on #106
Hello @yblake 👋

Didn't the "Continue anyway" button was working?
![image](https://user-images.githubusercontent.com/44212923/99155946-0afd9f00-26bd-11eb-9af7-b960e13b197f.png)

[2020-11-14 20:39] yblake commented on #106
No it didn't, got a connection failed red banner.
(But I got a similar message in Windows, which leaded me to manually delete the known-host entry cause I knew the man in the middle was myself...)

[2020-11-14 20:44] yblake commented on #106
I can try to reproduce switching to previous sdcard

[2020-11-14 20:51] #102 closed

[2020-11-14 21:18] isontheline commented on #96
Now updated :
https://webssh.net/documentation/legal/privacy-policy/

[2020-11-14 21:18] #96 closed

[2020-11-14 21:29] isontheline commented on #106
Bonsoir Yves 👋

The [above popup](https://github.com/isontheline/pro.webssh.net/issues/106#issuecomment-727258758) should be displayed when MitM is detected 😕

If you can reproduce this bug 🐛  I will be happy to fix it.
Please come back as soon as you want and I will reopen this issue instantly.

A très bientôt Yves 🇫🇷

[2020-11-14 21:29] #106 closed

[2020-11-14 21:37] isontheline commented on #44
Hello @avalonix 👋

On iOS 14 (iPad OS Simulator) this bug doesn't appear anymore.
I don't have tried on a real iOS 14 iPad.

Have you tried?

[2020-11-14 23:56] svenh0 commented on #44
the problem still exists

iPad Pro IOS 14.2
WebSSH 14.7.1

[2020-11-14 23:59] avalonix commented on #44
Hi)

I confirm.  the problem still exists.  the hide keyboard button on the keyboard does not work

[2020-11-15 07:08] isontheline commented on #44
Thanks for your confirmation, I will try to find a fix asap.

[2020-11-15 23:59] sck-ogrr opened #107 "Title"
**Describe the bug**
_A clear and concise description of what the bug is. Be warned : I will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Touch

[2020-11-15 23:59] sck-ogrr opened #108 "Title"
**Describe the feature**
_A clear and concise description of what the feature is. Be warned : I will refuse requests with no or little informations_

**Screenshots / Draws**
_If applicable, add screenshots and/or draws to help explain your feature request._

[2020-11-15 23:59] sck-ogrr opened #109 "Title"
**How to**
_A clear and concise question about the use of any WebSSH feature. Be warned : I will refuse requests with useless questions_

[2020-11-16 05:10] #107 closed

[2020-11-16 05:10] #108 closed

[2020-11-16 05:11] #109 closed

[2020-11-16 10:57] yblake commented on #106
I couldn't reproduce, and the "bad remote host fingerprint" action shows correctly.
I think I previously tried to reconnect from 4G network instead of local wifi, pls apologize for my mistake.

[2020-11-16 10:59] isontheline commented on #106
No problem, you're Welcome 👍

[2020-11-19 08:50] snk33 opened #110 "SSH bastion compatibility"
Hello again :)

**Pseudo-terminal**

Some SSH bastion rely on ssh pseudo-terminal capabilities to work, which works on a unix terminal with this "ssh" option :
[code]

We're implementing The Bastion from OVH (open-sourced recently) and it seems that we cannot make it work.

**Send command on ssh connection**

Also, it seems impossible to send command on ssh connection rather than the connected she

[2020-11-19 20:39] isontheline commented on #110
Re @snk33👋

Thank you a lot for this great issue!

I will check how I can improve pseudo terminal support inside WebSSH, asap

[2020-11-19 20:48] snk33 commented on #110
You’re welcome.

I hope it won’t be too much work to achieve this but it would be so nice to promote that kind of open-source solution (cocorico ^^).

[2020-11-20 17:42] snk33 commented on #110
To follow message on the-bastion issue, it seems that "-t" option is already used by default, at least now I can connect to the bastion and use it normally.

Only the send command on ssh connect part could be added then.

[2020-11-20 21:07] isontheline commented on #110
I'm working on it right now.

Getting some glitches but I'm confident 😇

[2020-11-21 21:00] isontheline commented on #110
Hello @snk33

After a lot of bad tries :
![Capture d’écran 2020-11-21 à 21 46 55](https://user-images.githubusercontent.com/44212923/99887261-2d566600-2c43-11eb-916e-a8fdc372daa2.png)

I'm now able to send commands :
![Capture d’écran 2020-11-21 à 21 49 24](https://user-images.githubusercontent.com/44212923/99887344-d56c2f00-2c43-11eb-82c3-9966a06267e2.png)

Even interactive mode :
![Capture d

[2020-11-21 21:08] snk33 commented on #110
Wow that’s awesome thanks !

Indeed my first thought was to check terminal settings to do this, it does make sense.

I hope it’ll help people to use this kind of solutions (including you ? 🙃)

[2020-11-23 07:10] isontheline commented on #110
Yes including me 😁

I will release this beta version in a few hours :
![Capture d’écran 2020-11-23 à 08 08 14](https://user-images.githubusercontent.com/44212923/99936394-5241fa80-2d63-11eb-8cae-c2bedfe8b919.png)

[2020-11-23 07:56] isontheline commented on #110
Now available for beta testing :
https://testflight.apple.com/join/QSrBK59z

☀️ Have a nice day

[2020-11-23 15:09] snk33 commented on #110
I've tested the beta version, it works as expected. I was able to send --osh command on login and mostly set a connection to specific server by giving a command "user@host".

Just one detail, when I want to edit the custom command I must disable it then select "Custom" again. No need to implement complicated list of command or anything, just be able to edit the command by clicking another time on

[2020-11-23 19:31] isontheline commented on #110
Thanks for your feedback @snk33!

No problem I will fix this glitch asap 😇

I will come back to you shortly.

[2020-11-24 07:16] isontheline commented on #110
A new TestFlight release is now available

[2020-11-24 09:39] snk33 commented on #110
Tested, everything's fine now ! :)

[2020-11-24 09:47] isontheline commented on #110
Thank you again for your feedback 👍

[2020-11-24 09:47] #110 closed

[2020-11-24 21:17] isontheline commented on #68
![Capture d’écran 2020-11-24 à 22 15 50](https://user-images.githubusercontent.com/44212923/100152234-abfd0e80-2ea2-11eb-8e8b-25628a6c32c3.png)

* Pad et Joystick are now deprecated (but can be enabled in settings)
* A new Pad is available in accessory form
* Keys `!` and `*` are now available in `...` (iPhone only)

[2020-11-25 01:29] lukensmall opened #111 "Lots of instant output will exceed keyboard boundary"
Secondary login output exceeds keyboard boundary. I have to hit keyboard icon twice to fix.

**Informations**
 - Device : iPhone 7+
 - OS : iOS 14.2
 - WebSSH Pro version : 14.6.6

**Screenshots**
![524107B9-4363-4A90-8803-08338C43438B](https://user-images.githubusercontent.com/33109148/100170338-0d18e800-2e8b-11eb-890b-6557cd41d7de.jpeg)

**To Reproduce**

After logging into my OpenBSD server, I

[2020-11-25 13:47] #68 closed

[2020-11-25 19:39] isontheline commented on #111
Hello @lukensmall 👋

WebSSH have several troubles with the keyboard : https://github.com/isontheline/pro.webssh.net/issues/37

I will try to fix your issue asap

Have a nice day ☀️

[2020-11-26 06:38] isontheline opened #112 "No more commands and crashes on mashREPL"
I just came across your app was interested and then I purchased it because I want to use all of the features and then I figured I would be part of the upgrade program as there are some bug fixes but also mentioned some more commands. Not only were there not any more commands however now it crashes after I run the command head or the command help...I think it’s really command specific however the s

[2020-11-26 06:40] isontheline commented on #112
Hello 👋

<ins>I just came across your app was interested and then I purchased it</ins>
Thank you a lot for your support and your purchase!

<ins>Not only were there not any more commands</ins>
Commands like host, lua, awk, dig, find, sed, sort, tar wc, requires an In App Purchase. So I don't agree with you : when you purchase you have more commands available. Isn't it ?

<ins>however now it crashe

[2020-11-27 19:27] #112 closed

[2020-11-27 21:45] ash34 commented on #44
Maybe this is the same bug as when the display does not scroll so the input line is hidden behind the keyboard? A workaround is to close the keyboard with the upper-right icon then open it again. The display will resize and the input line sits above the keyboard again.

[2020-11-27 21:57] isontheline commented on #44
Hello @ash34 👋

Same as #111 also

[2020-11-28 07:20] 9201170 opened #113 "Uploading files from iPad / iPhone to server through SFTP"
Ability to allow moving and copying files from iPad / iPhone to server

[2020-11-28 09:55] isontheline commented on #113
Hello @9201170 👋
Thanks for your issue!

Similar to #87

Your issue is now planned

Have a nice day☀️

[2020-11-28 09:57] isontheline commented on #87
Similar to #113

Need to implement SFTP transfers asap

[2020-11-30 16:20] #70 closed

[2020-12-03 20:29] isontheline opened #114 "SFTP Enhancements"
There are too many issues about SFTP.
This issue list all enhancements needed asap :

- [ ] Support for move and copy https://github.com/isontheline/pro.webssh.net/issues/57
- [ ] Able to download a file through SFTP https://github.com/isontheline/pro.webssh.net/issues/87
- [ ] Moving/copying files from iPad to server https://github.com/isontheline/pro.webssh.net/issues/113

[2020-12-03 20:30] isontheline commented on #57
Hello 👋

I'm moving this issue to #114 in order to track all SFTP enhancements needed.

Have a nice day. ☀️

[2020-12-03 20:30] isontheline commented on #113
Hello 👋

I'm moving this issue to #114 in order to track all SFTP enhancements needed.

Have a nice day. ☀️

[2020-12-03 20:30] isontheline commented on #87
Hello 👋

I'm moving this issue to #114 in order to track all SFTP enhancements needed.

Have a nice day. ☀️

[2020-12-03 20:35] isontheline commented on #30
Hello 👋

Don't worry about this issue closing : I'm merging this issue into #37 in order to track all Virtual Keyboard Enhancements needed. I will work on it soon.

Have a nice day. ☀️

[2020-12-03 20:36] isontheline commented on #44
Hello 👋

Don't worry about this issue closing : I'm merging this issue into #37 in order to track all Virtual Keyboard Enhancements needed. I will work on it soon.

Have a nice day. ☀️

[2020-12-03 20:36] #44 closed

[2020-12-03 20:36] isontheline commented on #99
Hello 👋

Don't worry about this issue closing : I'm merging this issue into #37 in order to track all Virtual Keyboard Enhancements needed. I will work on it soon.

Have a nice day. ☀️

[2020-12-03 20:36] #99 closed

[2020-12-03 20:36] isontheline commented on #111
Hello 👋

Don't worry about this issue closing : I'm merging this issue into #37 in order to track all Virtual Keyboard Enhancements needed. I will work on it soon.

Have a nice day. ☀️

[2020-12-03 20:36] #111 closed

[2020-12-04 19:24] isontheline opened #115 "Telnet Support"
**Describe the feature**
Brilliant app. I bought the paid one now. I just wish it supported Telnet so I can have one app for all my needs. Thx.

By **Chaskayy** on *App Store* (GB)

[2020-12-05 21:40] isontheline commented on #21
Currently converting UIWebView to WKWebView 😱

[2020-12-06 20:28] isontheline commented on #99
Should be fixed in 14.8 (available in a few hours on TestFlight)

[2020-12-07 06:39] isontheline opened #116 "Silicon / Catalyst Support"
* [Apple announces Mac transition to Apple silico](https://www.apple.com/newsroom/2020/06/apple-announces-mac-transition-to-apple-silicon/)
* [Running Your iOS Apps on macOS](https://developer.apple.com/documentation/apple_silicon/running_your_ios_apps_on_macos)

[2020-12-07 11:23] squirtla83 opened #117 "https://we.tl/t-AT6xAuKjiG?src=dnl"
**Describe the feature**
_A clear and concise description of what the feature is. Be warned : I will refuse requests with no or little informations_

**Screenshots / Draws**
_If applicable, add screenshots and/or draws to help explain your feature request._

[2020-12-07 11:24] squirtla83 opened #118 "S"
**How to**
_A clear and concise question about the use of any WebSSH feature. Be warned : I will refuse requests with useless questions_

[2020-12-07 12:35] boneda opened #119 "How To : Setting up tunnel"
**How to**
Hi,
 I just download your app on my IOS device and will like to use it for SSH web tunnel. I have added a connection and also allow vpn connection to be created. But i don't know which details to use for port knocking and port forwarding, and because of that my device traffic cant pass through the SSH tunnel. please me right way. I have attached a screenshot of my setup to this message.

[2020-12-07 16:40] isontheline commented on #119
Hello @boneda 👋

Firstly I need an important thing in order to help you : what do you want to do with port forwarding ?
Could you explain your use case ?

Thank you a lot

Have a nice day☀️

[2020-12-07 17:14] boneda commented on #119
Hi @isontheline
To be able to pass all my iphone internet traffic through it. i figure if its possible why not use it. Thank you for the reply.

[2020-12-07 17:35] isontheline commented on #119
This is not **YET** possible.

In [documentation](https://webssh.net/documentation/help/networking/port_forwarding/) you will find that statement :
DPF will forward all connections **INSIDE** WebSSH (SSH, SFTP) to a dynamic remote IP and port through your SSH server (aka bastion).

So proxying is done inside WebSSH and not outside **YET**.

[2020-12-07 17:35] #119 closed

[2020-12-07 17:37] boneda commented on #119
okay Thank you

[2020-12-07 21:19] isontheline commented on #111
Hello,

I'm working on your issue right now 😇

A fix will available on TestFlight in a few hours : https://testflight.apple.com/join/QSrBK59z

[2020-12-08 04:52] ggeers opened #120 "Unable to connect over cellular"
**Describe the bug**
WebSSH no longer connects to my home system when using mobile data (4G or 5G).

**Informations**
 - Device : iPhone 12 Pro Max
 - OS : iOS 14.2.1
 - WebSSH Pro version : 14.7.4

The log file says the network is unreachable.
I’m connecting directly to my device’s static IPv4 address to avoid IPv6 issues (firewall).

UNIX Reflection on the same device connects flawlessly, so the

[2020-12-08 05:21] isontheline commented on #120
Hello @ggeers Glenn 👋

Thank for your issue. Strange trouble ☹️

Please attach a screenshot of the error (when you press the "Report" button).

Have a nice day ☀️

[2020-12-08 05:37] ggeers commented on #120
Will do when I’m home. Have to remember to turn wifi off 😊

________________________________
From: Arnaud Mengus <notifications@github.com>
Sent: Tuesday, December 8, 2020 4:21:30 PM
To: isontheline/pro.webssh.net <pro.webssh.net@noreply.github.com>
Cc: ggeers <ggeers@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [isontheline/pro.webssh.net] Unable to connect over cellular (#120)

[2020-12-08 05:44] ggeers commented on #120
Screenshot of the log file in two parts...[Image.jpeg][Image.jpeg]

________________________________
From: Arnaud Mengus <notifications@github.com>
Sent: Tuesday, December 8, 2020 16:21
To: isontheline/pro.webssh.net
Cc: ggeers; Mention
Subject: Re: [isontheline/pro.webssh.net] Unable to connect over cellular (#120)

Hello @ggeers<https://github.com/ggeers> Glenn 👋

Thank for your issue. Strange t

[2020-12-08 06:25] isontheline commented on #120
I'm sorry, there are no screenshots attached.

Perhaps you need to upload them through Github and not through email.

[2020-12-08 06:50] ggeers commented on #120
Will try again later...

Typed on a small keyboard

Glenn Geers

[2020-12-08 12:34] isontheline commented on #111
Hello @lukensmall  👋

Could you try _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z
In order to check if your issue is fixed or not.

Thank you a lot.

[2020-12-08 12:34] isontheline commented on #99
Hello @ftneek  👋

Could you try _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z
In order to check if your issue is fixed or not.

☀️ Have a nice day

[2020-12-08 12:43] #47 closed

[2020-12-08 17:41] r2ixuz opened #121 "Add (again) old arrow keys upside iPad keyboard"
**Describe the feature**
_A key feature for me over the other ssh ios apps were the seperated arrow keys. Now they are gone and only this dumb virtual arrow key like in any other app is present. Thats is really sad and I am already regret it that I bought your app... 😒 _

Please bring back the separate arrow keys. Thank you.

[2020-12-08 17:46] isontheline commented on #121
Please enable it again inside WebSSH settings.

[2020-12-08 17:55] r2ixuz commented on #121
There is no option for activating the seperate arrow keys layout from last version again. I can only activate the pad or joystick in the upper right corner.

[2020-12-08 18:04] svenh0 opened #122 "Can't scroll anymore in the terminal log in 14.8"
With Version 14.8 i can't scroll anymore in the terminal-log-text.
In Version 14.7 is it ok.
If more logtext avaible as could show in the terminal window, so i can go down/up with swiping with one finger to scroll in the log-text.
In 14.8 this dont work anymore.

 - Device : iPad Pro 11
 - OS : 14.2
 - WebSSH Pro version : 14.8

**To Reproduce**
1. open terminal window
2. start logging
3. wait unt

[2020-12-08 18:05] isontheline commented on #121
I'm tired 😔
So you are using iPad ? Your issue description didn't mention it 🙄

[2020-12-08 18:10] r2ixuz commented on #121
Sorry, missed that. Yes iPad Pro 12.3" from 2020 with IpadOS 14.2.

In the WebSSH settings there are two lines with version information:
14.7.4 Nov 25 2020 @ 14:44:39
14.6.6 @ 20201114

[2020-12-08 18:16] r2ixuz commented on #121
To clarify: I am missing the arrow keys directly on top of the normal virtual iPadOS keyboard (the same row where Esc Tab and the other keys are located).

[2020-12-08 18:18] r2ixuz commented on #121
An other solution for me would be if the upper right corner arrow pad would be much larger for easy typing.

[2020-12-08 20:01] isontheline opened #124 "WebSSH Documentation in Dark Mode"
**Describe the feature**
It could be nice that [WebSSH Documentation](https://webssh.net) be available in Dark Mode 🌠
* https://github.com/squidfunk/mkdocs-material/issues/1716
* https://github.com/squidfunk/mkdocs-material/issues/1266

[2020-12-08 20:07] svenh0 commented on #121
Yes in one of the last versions i don't have the different 2 arrow Buttons for Up/Down in the virtual keyboard top right.
Now i have only the arrow-Button in the virtual keyboard top middle.

I liked the 2 separate keys better
The new 4-arrow-button is a bit complicated to use.

[2020-12-08 20:08] isontheline commented on #122
Woops 🥲

Hello @svenh0 👋

You're right, I will fix this issue asap.

[2020-12-08 20:14] isontheline commented on #121
Hello @r2ixuz and @svenh0 👋

Could you confirm me that you want this accessory form upside the iPad keyboard again?
![image](https://user-images.githubusercontent.com/44212923/101536469-547a9a80-399a-11eb-88d2-b0b6ed0c36df.png)

Sorry for the trouble

[2020-12-08 20:19] svenh0 commented on #121
Yes, i mean the first line on the top of the virtual ipad keyboard (on the bottom of the picture).
This arrows left from "..." i liked better as the new 4-arrow-button in the middle of this line.
Perhaps you can make a setup option to select the old 4 keys or the new 4-arrow-key

[2020-12-08 20:22] isontheline commented on #121
@svenh0 Yes I'm currently implementing a setting in order to switch back to the old behavior.
Thank you for your quick feedback!

It will be available as soon as I can 😉

[2020-12-08 20:26] r2ixuz commented on #121
Yes, I want the buttons back (red square). Thank you:

![101536469-547a9a80-399a-11eb-88d2-b0b6ed0c36df](https://user-images.githubusercontent.com/15087554/101537610-12525880-399c-11eb-873d-c3e74a0da5dc.png)

[2020-12-08 20:27] isontheline commented on #121
@r2ixuz Thanks for your feedback!

Let's go

[2020-12-08 21:09] isontheline commented on #121
Please install _WebSSH Beta_ 14.8.5 from TestFlight : https://testflight.apple.com/join/QSrBK59z

You will then be able to switch back to old special keys :
![image](https://user-images.githubusercontent.com/44212923/101540509-67906900-39a0-11eb-9e15-bebbb1c27d81.png)

@r2ixuz and @svenh0 could you check if this issue is now fixed?

[2020-12-08 21:46] svenh0 commented on #121
Yes, with 4.8.5 this option works fine.
Thanks ;)

[2020-12-08 22:00] svenh0 opened #125 "Reorder or copy saved connection-commands"
It would be verry useful, if i could reorder the saved commands in a connection.
(on the top right sideboard on the penultimate menu item with the Setup-Symbol)

And if i could copy a saved command to an other connection would be also helpful. ;)
Now i have saved some complicated commands in one connection.
This commands i want to have also in an other connection, but creating them again is too ti

[2020-12-09 02:26] ftneek commented on #99
The testflight build has addressed this issue, cheers! ✅

[2020-12-09 05:28] isontheline commented on #125
OK it's now planned, thank you a lot 😉

Did you know also that you can add a command which will be available on all connections?
By unchecking "Only on this connection" box.

[2020-12-09 05:32] isontheline commented on #120
Hello @ggeers  👋

You cou-d also try _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z

☀️ Have a nice day

[2020-12-09 09:00] svenh0 commented on #125
Thanks, i didn't know this option before. But some commands should not be available in all connections, which is why copying would be useful. ;)

But it's not in such a hurry. :)

[2020-12-09 10:21] r2ixuz commented on #121
Can confirm, it works. Great, thanks! Do you close this when it is final?

[2020-12-09 11:11] isontheline commented on #121
Thanks for your feedback!

I'm closing this issue right now.

Have a nice day ☀️

[2020-12-09 11:11] #121 closed

[2020-12-09 17:35] isontheline commented on #120
Glenn, any update?

[2020-12-09 17:35] #120 closed

[2020-12-09 19:37] isontheline opened #126 "Crash after logout when refreshing alive status"
0   libobjc.A.dylib               	0x00000001c37d90e8 objc_msgSend + 8
1   CoreFoundation                	0x00000001ae74d084 -[__NSDictionaryM objectForKey:] + 184 (NSDictionaryM_Common.h:36)
2   WebSSH                        	0x0000000104d3a814 __74-[SavedConnectionListViewController updateHostStatus:atPort:forIndexPath:]_block_invoke + 308
3   libdispatch.dylib             	0x00000001ae46124c _d

[2020-12-09 20:43] isontheline commented on #126
Done inside TestFlight release (14.8.6)
Will be available in a few hours.

[2020-12-10 06:49] isontheline opened #127 "masREPL : Mount other App Filesystem"
**Describe the feature**
Ability to mount other App Filesystem inside mashREPL

[2020-12-10 19:41] lockevod opened #128 "SCP Support"
**Describe the feature**
WebSSH is very useful and we've another included tools like sftp but I think it'll be more useful if we can have also scp enabled. thanks

**Screenshots / Draws**
NA

[2020-12-10 19:52] isontheline commented on #128
Hello @lockevod 👋

Thank you a lot for your issue!

Since SCP protocol has "less" possibility than SFTP protocol, your request is about a SCP command line?

Could you describe your use case please.

Have a nice day☀️

[2020-12-10 19:58] lockevod commented on #128
Yes, i know sftp is more powerful than scp but you've to setup a sftp service (and sometimes you aren't server owner).
Command line is useful but i was thinking something like winscp.

Regards

[2020-12-10 20:16] isontheline commented on #128
OK I agree

Can you confirm me that you can also run SSH commands on your server?

Because SCP doesn't support listing, I need to implement listing as "ls" command like WinSCP does :
https://winscp.net/eng/docs/requirements#scp

[2020-12-10 20:50] isontheline commented on #122
Scroll works on iOS 12, but not iOS 14 :(

[2020-12-10 21:18] svenh0 commented on #122
In WebSSH Pro 14.7 it works also on IOS 14 ;)

[2020-12-11 09:29] wynstep opened #129 "NEVPNErrorDomain error 2"
**Describe the bug**
This is the error message I obtain when I try to start a tunnel to external server. Other tunnels have the same error. All of them previously worked on same device, same app.

**Informations**
 - Device : iPad Air
 - OS : iOS 12
 - WebSSH Pro version : latest (nov 2020)

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to r

[2020-12-11 09:37] isontheline commented on #129
Hello @wynstep 👋

Could you try to delete "WebSSH VPN Profile" inside your iOS settings?

Thank you

[2020-12-12 02:45] 7Khaled050 opened #130 "Description"
**Describe the bug**
_A clear and concise description of what the bug is. Be warned : I will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Touch

[2020-12-12 02:46] #130 closed

[2020-12-12 07:20] isontheline commented on #129
@wynstep Any update on your issue?

[2020-12-12 07:20] #129 closed

[2020-12-12 07:21] isontheline commented on #128
@lockevod Any confirmation about launching SSH commands in order to implement SCP missing features?

[2020-12-12 18:37] kevinrook opened #133 "settings / servers sync import/export"
is there any way or future plan to enable syncing devices.

so my iPhone & ipad can easily be maintained and both uptodate.

i often find myself needing to use a device to find out i havent added a server to it. and rather than a quick import of settings i have to enter all the details again.

i love the app but i manage many servers and would like them all on webssh

[2020-12-12 19:35] isontheline commented on #133
Hello Kevin 👋

You're right this is a big lack of WebSSH.

Export / Import feature is already planned here : #43

I must speed up on this feature...

[2020-12-12 19:35] #133 closed

[2020-12-12 21:20] isontheline commented on #122
I am still working on this issue, I will fix it, I'm confident 😇
Thank you for your patience

[2020-12-12 21:21] #126 closed

[2020-12-14 16:40] isontheline commented on #122
@svenh0 Could you try 14.8.9?

A first attempt to fix this issue
Could you try it?

[2020-12-14 18:07] svenh0 commented on #122
With 14.8.9 scrolling works again.
But i think it a little bit to fast. If i swipe only a bit, it is scrolling more if i want.

[2020-12-14 19:38] isontheline commented on #122
I think too.

I'm working on velocity now.

[2020-12-14 20:28] svenh0 commented on #122
And sometimes on swiping is showing the blue select-button.

[2020-12-14 20:36] isontheline commented on #122
Yes when long press without movement

Could you try the new velocity on 14.8.10?

[2020-12-14 20:50] svenh0 commented on #122
14.8.10 is better, but not perfekt ;)
On 14.7x i can scrolling a litte bit smoother specially steps by one row or any rows.
And on Push and swipe showing the select-button, if the push is a little bit longer.
On 14.7.x the select button is only showing if the push is longer.
On short push and swipe there dont show the select button.
On 14.8.10 i must use a really short push and following swipe to

[2020-12-14 21:00] isontheline commented on #122
OK I will improve 14.8 👍

I'm working on a new rendering engine (WKWebView) so some glitches like it can appear.

[2020-12-14 21:03] isontheline commented on #122
Could you tell a little more about "smoother scrolling, steps by one row or any rows"?

14.8.10 doesn't let you to scroll slowly or fastly over your rows?

[2020-12-14 21:19] svenh0 commented on #122
It's difficult to describe;)

On 14.7 the line on this i push/tab ans swipe is fixing under the finger on swiping.
I move the text by this line with the finger.

On 14.8 the pushed line is moving outside of the finger on swiping.

[2020-12-15 21:37] isontheline commented on #44
Working on a fix right now
Will be available in 14.8.11
#37

[2020-12-15 21:38] isontheline commented on #37
Working on a fix of #44
Will be available in 14.8.11

[2020-12-16 07:05] isontheline commented on #44
Hello 👋

Could you try 14.8.11?

Have a nice day ☀️

[2020-12-16 07:11] isontheline opened #137 "Fn keys : move access to a better place"
**Describe the feature**
Fn keys on the navigation bar is not a good idea :/

Instead add them to :
* the virtual keyboard OR
* the top right floating menu OR
* the contextual menu

[2020-12-16 08:40] ash34 commented on #44
Seems fixed in 14.8.11 🎉

[2020-12-16 08:43] ash34 commented on #122
Fixed in 14.8.11 as far as I can see. Works great for main window scrolling and cursor moving with the 4way arrow key.

[2020-12-16 08:57] ash34 opened #139 "Keyboard hidden after select"
When closing the select screen the keyboard is hidden / closed. The first action after selecting some text would be to use it with the keyboard so to have to open the keyboard every time is a pain in the neck.

**Informations**
 - Device : iPad 7 generation
 - OS : iOS 14.2
 - WebSSH Pro version : 14.8.11

**To Reproduce**
Steps to reproduce the behavior:
1. Long press on the main window
2. Choose

[2020-12-16 15:56] svenh0 commented on #44
Thanks. It's working now.

[2020-12-16 16:03] svenh0 commented on #122
Scrolling behavior in 14.8.11 is not like on 14.7x, but it's ok ;)
Only this 2 different things:
- on a little bit longer push and swipe it shows faster the select-button (on 14.7 i can push a litte bit longer without show select button)
- the pushed line is moving outside the finger on swiping on 14.8.x (on 14.7.x is fixing under the finger on swiping)

If is not possible in new rendering engine,

[2020-12-16 19:40] isontheline opened #140 "Support keyboard interactive login"
From the App Store :

# Very questionable security
by Motobear1400 – 15 déc. 2020
Tell me developer(s)...

Why is it that you forbid the most standard of all types of ssh login, where you don’t have to input sensitive data into an app ‘box’ but rather just be connected to the remote host and enter that data in real time as it’s requested? This is by far the most standard configuration, and what yo

[2020-12-16 19:40] isontheline commented on #140
Hi Motobear1400 👋

I like your spicy review 🌶   thank you!

So what gives?

1. Tell me developer(s) : Only me 😇
2. "Why is it that you forbid the most standard of all types of ssh login[...]" : You're right Moto, but why don't you have opened an issue? I'm so happy with your review that I have created it for you :
Kind isn't it?
3. "[...]old dude dressed in woman’s clothing and selling services in

[2020-12-16 19:46] isontheline commented on #139
Hello @ash34 👋

That's a good issue, thank you!

You are right : if keyboard was opened before selecting text it should appear again when exiting selection window

I plan it for this release because I think it should be fixed soon.

Have a nice day ☀️

[2020-12-16 20:00] isontheline commented on #44
Thank you a lot for your feedback 👍

[2020-12-16 20:04] isontheline commented on #122
1. I agree that the push must be longer in order to show select menu
2. I'm not experiencing the same trouble but I think it is there. All I can tell is that now I need to scroll lines by lines instead of pixels by pixels in the new rendering engine. I will do an another try

I will try to fix these to issues as soon as possible.

Stay tunned in the next days (hours?)☀️

[2020-12-16 20:26] isontheline opened #141 "Deleting old redirections"
'documentation/help/networking/port_forwarding.md': 'documentation/help/networking/port-forwarding.md'
'documentation/help/networking/port_knocking.md': 'documentation/help/networking/port-knocking.md'

[2020-12-17 20:38] isontheline commented on #139
I'm working on it right now

[2020-12-18 13:40] wynstep commented on #129
Solved, thanks

[2020-12-18 20:22] isontheline commented on #139
Hello @ash34 👋

Could you try 14.8.13?

[2020-12-18 20:23] isontheline commented on #122
I have added a longer delay for select-button to appear
Inside 14.8.13

[2020-12-18 20:25] isontheline commented on #129
Thank you for your feedback!

Have a nice day ☀️

[2020-12-18 20:38] svenh0 commented on #122
Yes, now it's ok ;)

But could it be that now always open the virtual keyboard on showing the select-button?

A single tab to open virtual keyboard is ok, but on longer press for showing select-button also ?

[2020-12-18 20:53] ash34 commented on #139
Yes, that’s solved it.

[2020-12-18 21:20] #139 closed

[2020-12-18 21:54] mbierman commented on #43
I can’t wait! Thank you!

[2020-12-19 07:24] isontheline commented on #43
I will do my best efforts 😇

[2020-12-19 07:26] isontheline commented on #122
So you have found a new bug 🥲

OK I will fix it asap, thanks for your feedback!

[2020-12-19 08:36] svenh0 commented on #122
To the other problem: text ist faster scrolling as the finger swipe.

try this:
1. Tap on the top of the display on a line in log.
2. swipe down with the finger to the middle of the display and look at the line from 1.
3. if you go to the middle, the line is moving to the buttom of the display, but the finger is only move to the middle.

In 14.7.x the line is always moving with the finger, not fas

[2020-12-19 17:23] isontheline commented on #122
14.8.14 should fix [keyboard appear after displaying "select" menu](https://github.com/isontheline/pro.webssh.net/issues/122#issuecomment-748307457).

[2020-12-19 17:29] svenh0 commented on #122
Yes, is fixed ;)
(but now a single tap also do not open the virtual keyboard - is this ok?)

Could you make got to the selected line in the select-text-window?
The select-text-windows is always scroll to the end of the text.
Also if i selected the first line in the log-windows. So i must go to or search the selected line.

[2020-12-19 21:02] isontheline commented on #122
Yes short single tap wasn't support before and I have tried to support it without success now. I will implement short single tap (show/hide keyboard) in a later release.

I have create another issue to track "Could you make got to the selected line in the select-text-window?"

I will now try to implement better scrolling support

[2020-12-19 21:03] isontheline opened #144 "Improve iOS / iPadOS terminal text selection"
Could you make got to the selected line in the select-text-window?
The select-text-windows is always scroll to the end of the text.
Also if i selected the first line in the log-windows. So i must go to or search the selected line.

_Originally posted by @svenh0 in https://github.com/isontheline/pro.webssh.net/issues/122#issuecomment-748501776_

[2020-12-19 21:27] svenh0 commented on #122
But only if it can be done.
The current behavior would be good if you swiped a little faster.
When swiping slowly, the text should be fixed under the finger.

[2020-12-19 22:15] isontheline commented on #122
Does 14.8.16 improve the scroll for you?

Thank you again for your feedback 😇

[2020-12-19 22:21] svenh0 commented on #122
Yes, now is the scroll behavior in 14.8.16 like in 14.7.x ;)
Thanks.

[2020-12-19 22:28] isontheline commented on #122
@svenh0 @ash34

Can I add you nicknames to "Many thanks to" section on https://webssh.net ❓

[2020-12-19 22:42] ash34 commented on #122
You can use my name “Ash Jones” if you want. 👍🏼

[2020-12-19 23:11] svenh0 commented on #122
Thanks, you can use my shortname "Sven H", it's better as the nick 😉

[2020-12-20 09:16] svenh0 opened #145 "Don't scroll terminal content when closing keyboard"
If i scrolling up in the terminal log with showing virtual keyboard and close the virtual keyboard (to see more lines) the log is scrolling to the end.
The text does not stay at the last scroll position.

On open keyboard is ok to scrolling to the end, but not on close the keyboard.

**Informations**
 - Device : iPad 11 Pro
 - OS : IOS 14.2
 - WebSSH Pro version : 14.8.16

1. start logging
2. Open

[2020-12-20 17:39] isontheline commented on #145
Hello @svenh0 👋

I will look on it this night.

Thank you

[2020-12-20 19:43] isontheline opened #146 "malte : Mengus Arnaud Little Text Editor"
**Describe the feature**
Add a command to edit text in mashREPL such as nano so we can edit text with it

*Yes I know the name isn't the best of the world...*

[2020-12-20 20:20] isontheline commented on #121
Hello @r2ixuz 👋

Can I add your nickname to "WebSSH Contributors" page ?

[2020-12-20 20:20] isontheline commented on #111
Hello @lukensmall 👋

Can I add your nickname to "WebSSH Contributors" page ?

[2020-12-20 20:20] isontheline commented on #99
Hello @ftneek 👋

Can I add your nickname to "WebSSH Contributors" page ?

[2020-12-20 20:42] #122 closed

[2020-12-20 21:07] isontheline commented on #145
It's more difficult than expected :(

[2020-12-20 21:08] isontheline commented on #30
I'm now working on this keyboard issue

[2020-12-20 21:11] isontheline commented on #37
Working on #30

[2020-12-20 21:16] isontheline opened #147 "Prompt user for review after terminal exit"
- Don't prompt at startup
- Prompt when user exit the terminal (only once a new version)
- Prompt only after making 3 SSH connections
https://spin.atomicobject.com/2019/07/22/ios-review-prompt-customize/

- [x] https://developer.apple.com/documentation/storekit/skstorereviewcontroller/requesting_app_store_reviews

[2020-12-21 01:43] lukensmall commented on #111
You can put me on the contributor list if you want.

I checked it out and it seems to work for the bug that I submitted and I
kinda like what you did for the “select” tool too!

Thanks for working on it!

On Sun, Dec 20, 2020 at 2:20 PM Arnaud Mengus <notifications@github.com>
wrote:

--
-Luke

[2020-12-21 05:11] isontheline commented on #111
Thank you a lot for your feedback 👍

[2020-12-21 09:43] r2ixuz commented on #121
Yes, thanks.

Do you know, when the fixed version will be public released? Don't like this testflight thingy ;)

[2020-12-21 12:43] isontheline commented on #121
If no outage there, I think 27-28 December : https://developer.apple.com/news/?id=83m4plrb

[2020-12-21 20:48] isontheline opened #150 "Rendering : New Terminal Rendering Engine"
- [x] https://github.com/xtermjs/xterm.js
- [x] Need to remove Hterm license : https://webssh.net/licenses/LICENSE_HTERM/

[2020-12-21 21:40] isontheline commented on #85
Hello @Mrxwise

I think a fix will be available shortly :)

[2020-12-21 22:01] ftneek commented on #99
Sure no problem, that would actually be pretty cool. Thanks 😁

[2020-12-22 06:39] isontheline commented on #85
Fixed inside 14.8.18 : https://testflight.apple.com/join/QSrBK59z

Could you try it?

☀️ Have a nice day

[2020-12-22 07:07] Mrxwise commented on #85
Yes indeed, ^H can work well in 14.8.18 ;)

[2020-12-22 07:07] #85 closed

[2020-12-22 19:23] isontheline opened #151 "Split View Support"
Ability to launch multiple instances of WebSSH

* https://developer.apple.com/documentation/uikit/app_and_environment/scenes/specifying_the_scenes_your_app_supports
* https://medium.com/better-programming/implementing-multiple-window-support-in-ipados-5b9a3ceeac6f
* https://developer.apple.com/library/archive/documentation/WindowsViews/Conceptual/AdoptingMultitaskingOniPad/QuickStartForSlideOverAn

[2020-12-23 06:59] #147 closed

[2020-12-23 20:07] isontheline commented on #30
Hello @avalonix 👋

Does the issue still there in 14.8.21?

[2020-12-23 20:54] #124 closed

[2020-12-24 06:37] #94 closed

[2020-12-24 06:42] #37 closed

[2020-12-24 13:39] avalonix commented on #30
Nice! It work! Thx!)

[2020-12-24 20:41] #30 closed

[2020-12-25 17:41] jianjun1121 opened #152 "今天"
**Describe the bug**
_A clear and concise description of what the bug is. Be warned : I will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Touch

[2020-12-28 12:39] #31 closed

[2020-12-28 12:39] #12 closed

[2020-12-28 19:06] isontheline opened #154 "WoL : Wake-On-Lan"
# Todo
- [x] Add new connection field : MAC Address (and port?)
- [x] Add new contextual menu item : Wake Up
- [x] Add documentation about "WoL feature"

# To watch
* https://github.com/gumb0/wol.cpp
* https://github.com/holzschu/ios_system/issues/98
* https://github.com/holzschu/network_ios/blob/master/wol.cpp
* https://github.com/holzschu/network_ios/releases

# Swift Libraries
* https://github.

[2020-12-28 19:48] isontheline commented on #60
As #21 is now done for the terminal engine, I will now work on adding additional fonts.

I will start with https://github.com/mshaugh/nerdfont-webfonts because I use hterm for the terminal rendering engine.

[2020-12-28 19:59] isontheline commented on #97
I'm now working on additional font support

[2020-12-28 21:17] #114 closed

[2020-12-28 21:19] isontheline opened #155 "Files App Support"
[code]

In order to make alive #87 and #113

[2020-12-30 21:01] isontheline commented on #113
Working on upload from iOS to server through SFTP

[2020-12-31 09:20] isontheline commented on #113
Hello @9201170 👋

Will be available on TestFlight in a few minutes : https://testflight.apple.com/join/QSrBK59z

Have a nice day ☀️

[2020-12-31 09:21] isontheline commented on #113
Download feature will be inside https://github.com/isontheline/pro.webssh.net/issues/87

[2021-01-01 19:49] isontheline commented on #113
Hello @9201170

Could you try 14.9.3?

[2021-01-01 19:49] #113 closed

[2021-01-01 19:52] #155 closed

[2021-01-01 20:24] isontheline opened #159 "Context Menu Implementation"
**Describe the feature**
Replace current implementation of context menu by the [iOS 13 one](https://developer.apple.com/design/human-interface-guidelines/ios/controls/context-menus/)

- [ ] If iOS 12 : Fallback to the old context menu
- [ ] On SSH : use it for copy/paste
- [ ] On SFTP : use it for replacing swipe gesture on files/folder
- [ ] On connections list : use it for replacing swipe gestur

[2021-01-01 21:26] isontheline opened #160 "Macro : Available even without WebSSH Unlimited IAP"
- [x] Don't ask for IAP when adding a macro item

[2021-01-02 07:42] thaihugo commented on #60
This is a good font that will cover most ground. Thanks

[2021-01-02 11:23] ash34 opened #161 "Missing Long Output"
Not all output is shown if the output is more than the screen on-show. The top part of the output is lost when you hide the keyboard. (The part that did not fit onto the half-screen)

 - Device : iPad 7 gen
 - OS : iOS 14.3
 - WebSSH Pro version : 14.9.3

![AB123E96-D206-47FB-927B-C975FB7EA07B](https://user-images.githubusercontent.com/56022918/103456220-59f6a680-4cf4-11eb-80c6-4c61c36fcdd0.png)
!

[2021-01-02 16:23] isontheline commented on #161
Hello @ash34 👋

Could you check again 14.7 fallback? (It is a new bug or was already there?)

Have a nice day ☀️

[2021-01-02 19:30] ash34 commented on #161
Cannot reproduce in 14.7.1 or 14.7.4 (OK the hide keyboard key does not work in those versions but scrolling down also showed the issue in the original report.

[2021-01-02 20:54] isontheline commented on #85
This feature is enabled by default and cause some troubles : https://github.com/isontheline/pro.webssh.net/issues/161

So I will disable it by default.
You can enable "Reverse Wrap-Around" again inside terminal settings of your connection since 14.9.4

[2021-01-02 20:54] isontheline commented on #161
Please :
1. Edit your connection
2. Edit terminal settings
3. Disable "reverse wrap-around"

The trouble is from https://github.com/isontheline/pro.webssh.net/issues/85 enabled by default
I will disable it by default for 14.9.4

Thank you a lot for your issue @ash34

[2021-01-02 21:40] isontheline commented on #161
14.9.4 will also be a release candidate for the App Store

[2021-01-02 21:50] ash34 commented on #161
Confirmed. Disable the reverse wrap-around solves it.

[2021-01-03 11:55] isontheline commented on #161
Thank you a lot @ash34 👍

[2021-01-03 21:02] isontheline commented on #137
Adding documentation about combo keys : https://webssh.net/documentation/help/SSH/keyboard-shortcuts-combo-keys/

[2021-01-04 06:40] #160 closed

[2021-01-04 17:05] cuongbn commented on #61
I got the same error as above. I have ppk putty file, how can I use the private key in the software.
Where can I get my rsa private key?

[2021-01-04 18:35] ash34 commented on #161
Actually this still happens even when Reverse Wrap-Around is disabled. Screenshot attached from earlier
![1D6A8E0C-C02F-4F14-82D9-C320DE354D7C](https://user-images.githubusercontent.com/56022918/103567364-f6bb6e80-4ec3-11eb-9344-f733fb727c63.jpeg)
today.

[2021-01-04 20:23] isontheline commented on #61
Hello @cuongbn 👋

* Can you share an **example** and **unused** private key? If not please provide here how you generate the private key (the full command line)

Have a nice day ☀️

[2021-01-04 20:37] isontheline commented on #161
With your provided steps I'm not able to reproduce it with wrap-around disabled :

![Capture d’écran 2021-01-04 à 21 35 52](https://user-images.githubusercontent.com/44212923/103577373-f5df0880-4ed4-11eb-9b7d-35fdb785234b.png)

The history is not "eaten" by the second command on my side :(

[2021-01-05 05:15] isontheline commented on #137
On iPad mini and on iPhone landscape : not able to view all Fn keys

[2021-01-05 09:33] jaychoubaby opened #162 "Alibaba Cloud : 2FA Support"
公司上了阿里云跳板机，通过手机号接收验证码进行登录，希望可以支持一下，谢谢。

目前登录可以成功收到验证码，但是没有填写验证码的弹窗

[2021-01-05 12:43] isontheline commented on #162
Should be related to #51

[2021-01-05 21:10] ash34 commented on #161
Try a cat of a complete syslog for example, then another command which produces more than the half-screen of output. It’s repeatable for me this way. Screenshots attached. I think I can prevent it with lots of empty lines.

Not sure if it is a bug or not or related or not but sometimes when exiting nano I find a previous command already on the input line but the cursor is at the start of it. Will

[2021-01-05 21:24] isontheline commented on #161
Thank you a lot @ash34 for your clear reproduce steps!

I will try as soon as possible and come back to you shortly.

[2021-01-06 00:48] jaychoubaby commented on #162
https://user-images.githubusercontent.com/26641387/103715556-e3132380-4ffb-11eb-947e-961265136bf3.MP4

[2021-01-06 05:12] isontheline commented on #162
Thank you a lot for your video @jaychoubaby

I will fix 2FA support for your cloud provider as soon as possible.

Have a nice day ☀️

[2021-01-06 07:31] isontheline opened #163 "Enabling Reverse Wrap Around by default"
**Describe the feature**
Add documentation about it

[2021-01-06 20:42] isontheline commented on #161
I'm sorry I can't reproduce :(

Even with a very long output of 500KB :
[code]

[2021-01-07 05:18] isontheline opened #166 "Paste text into SSH : Allow carriage returns"
Hi
When I paste text I have copied (say from Notes or Safari on my iPad) into a session window the line breaks are converted to spaces.
Am I doing something wrong or is this standard behaviour?
Thanks
Robert
Sunshine Coast, Australia

_Originally posted by @zzrwood in https://github.com/isontheline/pro.webssh.net/discussions/165_

[2021-01-09 20:46] isontheline opened #167 "Updating German Translations"
**Describe the feature**
[code]

Thank you a lot Ralph!

[2021-01-10 20:01] #167 closed

[2021-01-11 19:47] isontheline commented on #166
I can confirm that I have the same "bad" behavior :
![Uploading image.png…]()

[2021-01-12 06:53] #166 closed

[2021-01-16 13:20] 7Khaled050 opened #168 "Webssh"
**Describe the bug**
_A clear and concise description of what the bug is. Be warned : I will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Touch

[2021-01-16 20:38] isontheline commented on #161
Are you able to reproduce with these commands ?

[code]

[2021-01-16 20:38] #161 closed

[2021-01-17 19:49] isontheline opened #169 "Fn Button (over keyboard) : Throws bell and vibration when pressed"
**Describe the bug**
When pressing the Fn button (in order to show Fn keys), the bell and vibration are thrown.
But why ?

[2021-01-18 06:12] ash34 commented on #161
No, cannot reproduce.

[2021-01-19 11:00] isontheline opened #174 "2FA with SFTP"
Hello,
You removed the feature on release 13.10 - july 2017 because 2FA never worked with SFTP.
Would you consider to try again to implement this great feature ?
It seems to work but I don't know what was the problem you had ...
https://help.thorntech.com/docs/sftp-gateway-classic/two-factor-authentication-with-google-authenticator/
Thank you very much

_Originally posted by @cotchon in https://gi

[2021-01-19 21:00] isontheline commented on #174
@cotchon

I'm searching on the Internet but the use of 2FA with SFTP isn't as "easy" as I would like :
* https://www.hallam.ch/blog/index.php/2020/04/19/ssh-sftp-with-two-factor-authentication/
* https://github.com/google/google-authenticator-libpam/issues/24

Could you share your SFTP configuration and your actual SFTP client used ?

[2021-01-20 09:04] cotchon commented on #174
Hello,
Actually I tried with SFTP cli from High Sierra and it worked with 2FA, after login asked me for the code. I don't know which SFTP client it is (no version)
I've just tried with Cyberduck, Version 7.6.2 (33520), it worked also
I've just tried also with Filezilla, Version 3.50.0, it worked, authentication type interactive
It seems to be difficult since I read your links #24 and #288 to get p

[2021-01-20 09:16] cotchon commented on #174
sshd_config
ChallengeResponseAuthentication yes

# PAM configuration for the Secure Shell service
# Standard Un*x authentication.
@include common-auth
# Google 2FA
auth required pam_google_authenticator.so nullok

From webssh I get on my device :
Jan 20 10:10:43 PI4B sshd(pam_google_authenticator)[749]: Invalid verification code for pi
Jan 20 10:10:46 PI4B sshd[749]: Failed password for pi from x.

[2021-01-20 19:40] isontheline commented on #174
Thank you a lot for your feedback @cotchon !

I will try to figure out why I didn't success SFTP 2FA connections in the past

[2021-01-23 02:21] unnilennium opened #175 "Fn key access when in fullscreen terminal mode"
**Describe the feature**
Currently Fn keys are available only in non fullscreen mode with a small link on the top right corner of screen .

Would be better to have it annexed to the keyboard so we can access it in both mode.
would suggest to add it in the top bar of the keyboard with the other shortcuts

thanks

[2021-01-23 07:45] isontheline commented on #175
Hello @unnilennium 👋

#137 is already available on TestFlight

Could you check it?

https://testflight.apple.com/join/QSrBK59z

☀️ Have a nice day

[2021-01-23 07:45] #175 closed

[2021-01-23 07:47] isontheline commented on #137
Check first implementation on :
https://testflight.apple.com/join/QSrBK59z

[2021-01-26 20:59] isontheline commented on #169
Fix will available in a few hours in TestFlight

[2021-01-27 06:28] #169 closed

[2021-01-28 21:03] isontheline commented on #87
I'm working on it since yesterday

Have a nice day ☀️

[2021-01-29 19:40] isontheline opened #180 "Keyboard : Support of page up / down keys"
Hello,

thank you for the good ssh-Client. I am very happy with them.

But I have a small problem with a bluetooth keyboard.

I have problem with the page up and page down keys. They are not working. Looks like mostly all iOS ssh clients have here trouble.

I found only „ShellFish“ where I can use Pipe and  Page Up + Down.

Are you have any solution for this problem?

Greetings form Germany
Thomas

[2021-01-29 21:33] isontheline commented on #180
I'm able to map my physical keyboard :
![Capture d’écran 2021-01-29 à 22 31 49](https://user-images.githubusercontent.com/44212923/106329542-e9ef2800-6281-11eb-9258-689143c7349b.png)

So I think BT Keyboard will be the same.

I will try to release a beta as soon as possible

[2021-01-29 21:43] Supertas commented on #180
Sounds great, thank you

[2021-01-30 20:47] isontheline commented on #180
Hope it will not be rejected by Apple : https://stackoverflow.com/a/44321674/8102448

But it is documented here by Apple : https://developer.apple.com/documentation/uikit/uikeyinputpageup?language=objc

Fingers crossed.

[2021-01-31 20:55] isontheline commented on #180
I will publish a beta release in the next days, I need to fix SFTP download before

[2021-02-02 19:33] isontheline commented on #174
Hello @cotchon 👋

It seems possible to implement 2FA over SFTP but only if an SSH connection is launched in background.

I don't think it will cause any problem in most case as the SSH connection will only be opened on the channel side and no shell would be opened at all.

[2021-02-03 08:27] cotchon commented on #174
That's a great news :-)

[2021-02-04 23:21] wpballa opened #181 "line up/down left/right key too sensitive"
In older versions of this really nice software there were big arrows to hit to move up/down and left/right line by line or character by character respectively. the new single button that does all moves way too fast to just pick the last line and edit a character or two.

*** Never mind, now it is working properly, but a few days ago (maybe before the 14.4 update) it would scroll rapidly through li

[2021-02-05 20:26] isontheline commented on #181
Hello @wpballa Bill 👋

You can revert to the old behavior, here is how to :
https://webssh.net/documentation/help/howtos/SSH/use-old-special-keys/

Does this fix your trouble?

Have a nice day ☀️

[2021-02-05 20:26] #181 closed

[2021-02-06 19:43] isontheline commented on #87
- [ ] Having a menu to let user download a file
- [ ] Implement again folder renaming and folder deleting

[2021-02-06 21:20] #137 closed

[2021-02-06 21:24] isontheline commented on #87
Hello @lawsonav  👋

Please install _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z

You will then be able to download WebSSH 14.10.5 with download feature.

☀️ Have a nice day

[2021-02-06 21:24] isontheline commented on #180
Hello @Supertas  👋

Could you install _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z

☀️ Have a nice day

[2021-02-06 21:25] isontheline opened #182 "SFTP : Unable to rename or delete folder since 14.10"
**Describe the bug**
Since 14.10.5 and the ability to download a file, we can't delete or rename a folder anymore

[2021-02-06 22:47] Supertas commented on #180
Hi,

yes, Page Up and Down are working know. At the testing I saw three others key which are not working. Sorry I don‘t test it before.
The keys are coming from the keyboard block. They are Pos1, End and Del.

I will test, if I finde more broken keys.

Thank you for the fast support.

[2021-02-06 23:05] Supertas commented on #180
HI,

more errors, I don‘t found. It is not easy to find alle keys in iOS. :-)

[2021-02-07 01:13] wpballa commented on #181
Yes, that solved my problem nicely, thanks.

[2021-02-08 19:36] isontheline opened #183 "Bluetooth keyboard : implements of Home, End and Del keys"
Hi,

yes, Page Up and Down are [working know](https://github.com/isontheline/pro.webssh.net/issues/180). At the testing I saw three others key which are not working. Sorry I don‘t test it before.
The keys are coming from the keyboard block. They are Pos1, End and Del.

I will test, if I finde more broken keys.

Thank you for the fast support.

_Originally posted by @Supertas in https://github.com/

[2021-02-08 19:38] isontheline commented on #180
Thank you a lot for your feedback @Supertas 👍

Pos1, End and Del keys will be in another issue : https://github.com/isontheline/pro.webssh.net/issues/183

Have a nice day ☀️

[2021-02-08 19:38] #180 closed

[2021-02-08 20:27] #87 closed

[2021-02-10 21:20] isontheline opened #186 "Same list for SSH and SFTP"
A good idea is same list for SSH and SFTP.
In this way, the same server would not have to be registered twice.

_Originally posted by @josemmba in https://github.com/isontheline/pro.webssh.net/discussions/185_

[2021-02-11 21:21] #21 closed

[2021-02-11 21:53] isontheline opened #187 "SFTP connection error message : bad top anchor"
**Describe the bug**
When connecting through SFTP and when an error is thrown, the error message ribbon is not at the right top location as the SSH one could be

[2021-02-12 06:21] mbierman commented on #43
This hasn’t made it to the beta yet, has it?

[2021-02-12 06:53] isontheline commented on #43
I'm afraid @mbierman, even if this issue is six months old I haven't been working on it yet 😕

[2021-02-14 20:15] #163 closed

[2021-02-14 20:25] #187 closed

[2021-02-15 09:51] wutaijieing opened #189 "无法显示最下面的一行"
无法显示最下面的一行

[2021-02-15 09:53] isontheline commented on #189
In order to be applicable, please send any screenshot and reproduce steps.

I will reopen this issue then.

[2021-02-15 09:53] #189 closed

[2021-02-17 06:48] isontheline opened #190 "Tunnel : doesn't work anymore on 14.10 and above"
**Describe the bug**
The tunnel seems to be established but SSH or SFTP child connections don't work anymore on 14.10 and above

[2021-02-17 06:50] isontheline opened #191 "Connection UI enhancements"
**Describe the feature**
- [x] Delete "trash" button on detail

[2021-02-17 07:00] isontheline commented on #190
No it works : bad port used on my side :(

[2021-02-17 07:00] #190 closed

[2021-02-20 14:15] alexhk commented on #43
I had WebSSH installed on my phone for a while for some reason, but just today purchased Premium and started using it (used Termius for a while and paid for it, but just don't like another subscription for my occasional use - I always try to get to a real computer anyway if possible).

I am looking forward to import/export (and sync), I have a lot of servers to connect to and setting them all up m

[2021-02-20 18:06] isontheline commented on #43
Hello @alexhk 👋

Thank you **a lot** for your purchase!

I'm late on this issue, sorry.

I agree an import feature from a text file should be implemented asap.

What do you need **firstly** : a sync between devices or an import feature ?

[2021-02-20 19:54] isontheline opened #194 "SFTP : Syntax highlighting in text editor"
**Describe the feature**
I think it's a really useful app for editing webfiles on the go, and maybe even editing entire websites using your phone. What i think it lacks is proper colour(?) coding for C#, Python, HTML etc. files so it can be made even easier. Other than that, wonderful.

*From the App Store : Kamil614*

[2021-02-21 04:24] alexhk commented on #43
I assume importing would be of higher priority for me personally, but either way both would be great and will drive new customers. While you are at it, export would also be nice :)

I am using SecureCRT. It's a commercial application and Termius also allows imports from SecureCRT's exported XML file.

As far as I know the way to export hosts from Termius is via their CLI:

`termius export-ssh-conf

[2021-02-21 07:31] isontheline opened #195 "SFTP : can’t refresh if short files list"
**Describe the feature**
If the files list doesn’t exceed the screen height size then we can’t use the pull to refresh.

[2021-02-21 07:33] isontheline opened #196 "SSH : On macOS Catalyst Status bar override terminal"
**Describe the bug**
On macOS Catalyst Status bar override terminal

[2021-02-21 07:35] isontheline commented on #116
- [ ] Support of M1 « build for iPad »
-[ ] Support x86_64 « Catalyst »

[2021-02-21 07:36] isontheline opened #197 "Connection : popup (launch, edit, delete) only when pressing (i)"
**Describe the feature**
In order to be user friction less : only show popup (launch, edit, delete) only when pressing (i)

- [x] Remove "launch" menu

[2021-02-21 08:20] isontheline opened #198 "mashREPL : shouldn’t be in network tools"
**Describe the feature**
Add a new tool section : terminal

[2021-02-21 11:07] svenh0 commented on #197
Yes, it would better, if show this menu only if i want to show by a special info-button at end of the line.

[2021-02-21 17:12] isontheline opened #199 "Jump Host"
**Describe the feature**
Ability to connect to a SSH / SFTP server by using a jump host (aka bastion).

Also ability to chain multiple jumps.

[2021-02-21 20:03] isontheline commented on #43
Thank you for your feedback @alexhk

I'm currently implementing Dark Mode and I will switch to export / import / sync feature just after

[2021-02-21 21:32] isontheline commented on #197
Enhancement will be available in WebSSH 14.11.2 (in a few hours)

[2021-02-21 22:26] CapableFish opened #200 "UX : Directional arrow keys not working (inside text fields)"
**Describe the bug**
Arrow keys not working using Bluetooth keyboard or the Apple smart folio keyboard

**Informations**
 - Device : iPad 12.9 pro
 - OS : IOS 14.4
 - WebSSH Pro version : 14.10

**To Reproduce**
Steps to reproduce the behavior:
1. Open WebSSH
2. Open SSH session to a host that supports menus. Eg, HP Procurve switch
3. Pressing arrow keys will not do anything
4. Turn on on screen d

[2021-02-22 00:32] mbierman opened #201 "Improve scrolling"
**Describe the feature**
Scrolling is very slow when you scoll backward to see precioys commands and output or when you scroll back to continue using the shell. It would be nice if it were much faster.

[2021-02-22 01:05] CapableFish commented on #180
Has this fix been released? Or is it still a beta?

[2021-02-22 06:21] isontheline commented on #180
Released : https://webssh.net/documentation/changelog/14.10/

[2021-02-22 06:24] isontheline commented on #200
Hello @CapableFish 👋

I don't have access to a recent HP ProCurve Switch.

On Putty are you using a special SSH profile configuration?

[2021-02-22 06:32] isontheline commented on #201
Hello @mbierman 👋

You're right since three / four releases the scrolling is not user friendly (because of upgrading the rendering engine).

I definitely need to improve it.

[2021-02-22 06:35] isontheline opened #202 "Unified server list for SSH and SFTP"
A good idea is same list for SSH and FTP.
In this way, the same server would not have to be registered twice.

_Originally posted by @josemmba in https://github.com/isontheline/pro.webssh.net/discussions/185_

- [x] Host capabilities dropdown select : SSH / SCP (mandatory yet?) / SFTP / ESXi / PVE / Docker

[2021-02-22 06:51] isontheline commented on #197
@svenh0 Could you try the beta release please?

[2021-02-22 16:41] svenh0 commented on #197
Thanks, this works in 14.11.2 👍🏼

[2021-02-22 16:52] svenh0 commented on #201
Yes, perhaps you can use the user scrolling speed to change your scroll speed (how many tabs and scrolls in a time).
On slow scrolling (for any rows scroll with only one tab) now it's ok ;)

But if i scroll up any pages, this could be a little faster ;)

[2021-02-22 17:03] isontheline commented on #201
Thanks @svenh0 for your feedback 😉

You’re right I will implement a different scrolling based on user velocity

[2021-02-22 19:16] isontheline opened #203 "SFTP : Display "sponsor" panel on exit"
**Describe the feature**
When the SFTP client is closed : display "sponsor" panel

[2021-02-22 19:17] isontheline opened #204 "Server Reachability : Disable by default and tunnel icon"
**Describe the feature**
- [x] Disable by default the server reachability icon
- [x] Use another icon to show active tunnels

[2021-02-22 22:23] CapableFish commented on #200
I am using HP Procurve Switch as an example. But the left and right arrows don’t work either on either the main UI of web SSH nor does it work during a SSH session so I cannot got left with the arrow to correct typing mistakes.

I am not using any special SSH profile config. Everything default.

From: Arnaud Mengus <notifications@github.com>
Reply to: "isontheline/pro.webssh.net" <reply@reply.gith

[2021-02-23 05:12] isontheline commented on #200
Hello @CapableFish

I don’t understand : « either on the main UI »
I don’t use any keyboard mapping on text fields :(

So your keyboard should work as it when editing any connection for example.

[2021-02-23 05:14] isontheline commented on #200
Can you confirm me that virtual arrows are working as expected?

[2021-02-23 05:21] isontheline commented on #200
Does your problem related to this one?

https://discussions.apple.com/thread/251472311

[2021-02-23 09:49] CapableFish commented on #200
No the virtual arrows do not work

[2021-02-23 09:52] CapableFish commented on #200
I turn on the full access keyboard. It does not seem to help.

FYI, the arrow directional keys work in Terminus and in Apple Notes so I don't think it is a hardware issue

[2021-02-23 10:02] CapableFish commented on #200
Not sure if this helps, When I am on the SSH session on the HP switch..

If I press the left arrow, it displays 'D' (like I just type it)
When I press the up arrow, it displays 'A'
The right arrow displays 'C'
The down arrow displays 'B'

[2021-02-23 17:36] josemmba opened #205 "Upload Folder and subfolders in 1 step."
**Describe the feature**
_A clear and concise description of what the feature is. Be warned : We will refuse requests with no or little informations_
Include the ability to upload a folder with all its content and subfolders or the ability to drag and drop from the iOS Files App.
**Screenshots / Draws**
_If applicable, add screenshots and/or draws to help explain your feature request._

[2021-02-23 18:15] mbierman commented on #205
Great idea!

[2021-02-23 20:20] isontheline commented on #200
So your SSH session over the HP switch doesn't support out of the box the application cursor keys : http://the.earth.li/~sgtatham/putty/0.55/htmldoc/Chapter4.html#S4.4.4

I will try to find a similar device

[2021-02-23 20:22] isontheline commented on #205
Thank you for your feature request @josemmba 👍

[2021-02-23 20:24] isontheline opened #206 "Dark Mode : Use same colors as WebSSH website"
**Describe the bug**
Use same colors as WebSSH website

[2021-02-23 20:25] isontheline opened #207 "Dark Mode : SFTP : File view editor is blank"
**Describe the bug**
File view editor is blank in dark mode

[2021-02-23 20:27] isontheline opened #208 "Dark Mode : WKWebView : White flash during init"
**Describe the bug**
When switching to a WKWebView in dark mode a white flash show up before the background is applied

[2021-02-23 20:28] isontheline opened #209 "Dark Mode : SSH Profile Connection Settings : Not dark compliant"
**Describe the bug**
When editing a SSH profile connection settings in dark mode all fields are not dark compliant

[2021-02-23 20:29] isontheline opened #210 "SSH : Background terminal color doesn't fill edge insets"
**Describe the bug**
When choosing another color than "grey" for SSH terminal background color, the edge insets are always "grey" and not the color chosen.

[2021-02-23 20:37] #7 closed

[2021-02-23 21:37] CapableFish commented on #200
This problem does not have any thing to do with the SSH session or the HP switch. I am using the HP switch as an example.

the arrow direction keys do not work at all anywhere in the webSSH app when they works fine on any other app on the ipad. It is like I have the onscreen keyboard with no directional arrow keys.

Test 1:

  1.  Open WebSSH
  2.  In the search box on the main screen. type in ‘te

[2021-02-24 05:20] isontheline commented on #200
Could you give me the serial number of your keyboard?

When connected, you should find the Smart Keyboard (or other Apple accessory) Serial Number listed in Settings > General > About.

[2021-02-24 07:09] isontheline commented on #200
OK OK

1. I'm able to reproduce left and right arrows "bug" inside WebSSH : I will try to find why cursor doesn't move
2. For cursor inside HP ProCurve it's more related to the lake of bash : I need to find the key codes needed by your device

[2021-02-24 20:19] isontheline opened #211 "Parameters : use iOS / iPadOS app settings screen"
**Describe the feature**
Remove settings inside WebSSH itself and move them to iOS / iPadOS app settings screen

[2021-02-24 20:25] isontheline opened #212 "I18N : Disable internal language switch"
**Describe the feature**
Use iOS language switch on the application settings

# Documentation
1. Ensure your iOS / iPadOS has multiple languages installed. Go to Settings > General > Language & Region. Tap "Other Languages" and add a language you want to use. You don’t have to switch to the new language, just add it to this list.
2. Return to the main Settings screen and scroll down until you see

[2021-02-27 20:05] isontheline opened #213 "Known Hosts : Ability to manage them"
**Describe the feature**
Add the ability to manage Known Hosts :
- [ ] View
- [ ] Delete

[2021-02-27 21:07] #197 closed

[2021-02-27 21:09] #191 closed

[2021-02-27 21:36] #206 closed

[2021-02-28 20:20] isontheline opened #214 "Dark mode : Ping and whois not dark compliant"
**Describe the bug**
Ping and whois not dark compliant

[2021-02-28 21:06] #204 closed

[2021-02-28 21:06] #207 closed

[2021-02-28 21:06] #208 closed

[2021-02-28 21:06] #209 closed

[2021-02-28 21:06] #214 closed

[2021-03-01 06:49] frenschman opened #215 "Keyboard Accessory Keys : Ability to customise them"
**Describe the bug**
thx for answer in the App Store!
I follow you’re instructions change the settings but nothing help. I take some screenshots to understand what I mean. The new arrow a too small and that is why the old 4 separate arrows was perfect ...

thx for help.

pleas bring it back

**Informations**
 - Device : [iPhone 8]
 - OS : [iOS 14.4]
 - WebSSH Pro version : [last one for iOS ]

**S

[2021-03-01 12:25] isontheline commented on #215
Hello @frenschman 👋

I understand you need the old "Virtual Arrow Keys" for iPhone and not the "Use old special keys".

You need to define "Virtual Arrow Keys" to "Pad" and you will have the top left pad appearing.

The down / up / left / right keys above the virtual keyboard is only on the iPadOS.

Could you check?

[2021-03-01 12:43] frenschman commented on #215
Hi thx for answer so quick.

I don’t want the Virtual Arrow
I send you a new Foto how it was in the pass

[2021-03-01 17:22] isontheline commented on #215
I’m sorry I don’t understand what is the old arrows you want :/

Have you send me a new screenshot through GitHub?

[2021-03-01 18:23] josemmba commented on #43
Synchronizing through iCloud would be the best option. I think.

[2021-03-01 18:56] twabulldogg opened #216 "Old interface"
I would like the old interface to be available where I am able to use swipe guestires to clone or delete configurations.  Having the extra pop up whenever I want to perform any task, including closing a tunnel connection, is extremely frustrating.

[2021-03-01 19:00] isontheline commented on #216
Hello @twabulldogg 👋

That's why 14.11 - Milky Way has been release a few minutes ago on the App Store.
Two possibilities to test the new behavior :

1. Wait a few hours to have the download ready on the App Store
2. Download 14.11 on TestFlight :  https://testflight.apple.com/join/QSrBK59z

Could you tell me if the new behavior is better?

☀️ Have a nice day

[2021-03-01 19:11] frenschman commented on #215
Hi I send here a new foto !

You get that not ?

[2021-03-01 19:19] isontheline commented on #215
Attachments should be uploaded through GitHub website and not through email, I think.

[2021-03-01 19:21] frenschman commented on #215
Sorry that you get the Foto not :(

I don’t want the Virtual Arrow :(
I send you a new Foto how it was in the pass

![C328C12E-CB12-4DE0-94F6-4110F7F566E1](https://user-images.githubusercontent.com/77173562/109547423-a29bc780-7acb-11eb-8a49-329933b9062d.jpeg)

Ps: at the iPad it’s posibel
Why no more at the iphone

[2021-03-01 19:35] isontheline commented on #215
In my memory, please excuse me if I don’t remember, pad keys have « never » been upside the keyboard on the iPhone, only on the iPad.

I’m searching in the history if I’m true or wrong

[2021-03-01 19:53] isontheline commented on #215
Here is the WebSSH version as of September 2020 :
![image](https://user-images.githubusercontent.com/44212923/109550774-fe684f80-7acf-11eb-87be-9b94be7eb2b4.png)

You can see that arrows are only on iPad and not on iPhone, so that's why I didn't understand your request.

As the iPhone as so little width space I "can't" add up / down / left / right keys

[2021-03-01 20:15] BertrumUK opened #217 "Wrong SSH servers getting deleted"
**Describe the bug**
I added a new server tonight for testing and when I deleted it the top server was deleted instead. This happened twice and was reproduced on my iPhone.

**Informations**
 - Device : iPad 7 / iPhone 11
 - OS : iOS 14.4
 - WebSSH Pro version : 13.14.3

[2021-03-01 20:19] isontheline commented on #217
Hello @BertrumUK 👋
Thanks for your issue!

In order to help you as soon as possible :

1. Please install _WebSSH Beta_ from TestFlight app : https://testflight.apple.com/join/QSrBK59z
2. Then reproduce the bug

Does the top server is aways deleted with the TestFligh version?

☀️ Have a nice day

[2021-03-01 20:21] isontheline commented on #217
I can reproduce too even on the latest release :(

[2021-03-01 20:23] BertrumUK commented on #217
Hello Arnaud, thanks for the beta. It’s best to clone the top server for testing.

Neil

Sent from my iPhone

[2021-03-01 20:24] isontheline commented on #217
I'm trying to find why it's wrong

Sorry for the trouble :/

[2021-03-01 20:25] BertrumUK commented on #217
That’s ok. Good luck.

Sent from my iPhone

[2021-03-01 20:30] isontheline commented on #217
OK found 😓

Fix have been sent to Apple and should be approved in a few hours.

[2021-03-01 20:31] BertrumUK commented on #217
👍

Sent from my iPhone

[2021-03-01 20:57] twabulldogg commented on #216
Thank you!  The new interface works great.

I do have a bug now, though, in that I cannot connect to tunnels anymore.  I can SSH to the box, though.  The tunnel connection says, “the connection couldn’t be completed, NEVPNErrorDomain, Error 2.”  I have not changed the configurations since updating to the latest version.

Thank you.

________________________________
From: Arnaud Mengus <notificatio

[2021-03-01 21:06] isontheline commented on #216
1. Just go to iOS Settings > VPN > Then remove "VPN-Over-SSH"
2. Launch your tunnel again
3. Approve the installation of the VPN profile

[2021-03-01 21:52] twabulldogg commented on #216
Works perfectly.  Thank you for all your quick responses.

________________________________
From: Arnaud Mengus <notifications@github.com>
Sent: Monday, March 1, 2021 4:06:25 PM
To: isontheline/pro.webssh.net <pro.webssh.net@noreply.github.com>
Cc: twabulldogg <twabulldogg@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [isontheline/pro.webssh.net] Old interface (#216)

  1.  Just

[2021-03-01 22:04] CapableFish commented on #200
I can't see anything there for keyboard. There is serial for the Apple Pencil that is all

![image](https://user-images.githubusercontent.com/79424697/109565223-41f5a480-7b36-11eb-83c5-b5afab2c24d7.jpeg)

[2021-03-01 22:16] zyrxeese commented on #200
Mine looks nothing like that but I use multiple keyboards /different type Faces running a “ Product Red” Current software
![Uploading 87BFA8AF-6F7F-4DB6-AF37-ED7987B2B9E1.png…]()

[2021-03-01 22:24] CapableFish commented on #200
It is an Apple folio keyboard. It is not Bluetooth as it connects directly to the iPad through exposed electrical contacts at the back of the iPad.

[2021-03-02 11:55] isontheline commented on #216
You're Welcome

[2021-03-02 11:55] #216 closed

[2021-03-02 19:17] isontheline commented on #217
@BertrumUK have you a few minutes to test my new release?
https://testflight.apple.com/join/QSrBK59z

☀️ Have a nice day

[2021-03-02 19:26] isontheline commented on #215
@frenschman Are you sure that arrows keys was upside the keyboard on iPhone OS ?

[2021-03-02 19:32] isontheline opened #220 "Tunnel :Ability to add multiple ports in the tunnel configuration : VPN-Over-SSH"
I wish to add multiple ports in the tunnel configuration.
eg:
8020:gitlab.mycompany.com:8020
8030:buildserver.mycompany.com:8030

this is how many other tools work and what i find a bit limiting in webssh.

thx
tilo

_Originally posted by @bytefactory73 in https://github.com/isontheline/pro.webssh.net/discussions/219_

[2021-03-02 19:37] isontheline commented on #200
I'm able to reproduce the lack of support right / down / left / right keys inside the text fields of WebSSH even under the simulator. I will now check why this happen.

The arrow keys works inside the terminal but some devices (like your HP Pro Curve) displays A / B / C / D chars.
This behavior will be fixed in another issue.

[2021-03-02 19:37] BertrumUK commented on #217
Checking it now.

[2021-03-02 20:25] isontheline commented on #217
Thank you Neil for your feedback!

Can I add your nickname on the contributors page?
https://webssh.net/documentation/contributors/

[2021-03-02 20:25] #217 closed

[2021-03-02 20:27] BertrumUK commented on #217
👍🏻

[2021-03-02 21:26] isontheline opened #221 "iOS 13 : Crash on launch"
**Describe the bug**
When WebSSH 14.12 is launched on iOS 13 : it crashes

New fonts are not available on iOS 13

[2021-03-03 03:50] frenschman commented on #215
Good morning

Yes I was sure !

That is why I buy it the app!

That was the deferent to other app in the store! Better for the using

Wen you turn the phone at the Site the Keyboard gehts bigger

Nice greats

[2021-03-03 04:02] srv1emoving opened #222 "FTP can’t delete folders"
**Describe the bug**
FTP can’t delete folders

[2021-03-03 05:33] isontheline commented on #215
![643x0w](https://user-images.githubusercontent.com/44212923/109757441-103e1580-7bea-11eb-8713-fda6d3a18b41.jpg)

Are you OK with these statements ?
* you would like ◀️▶️🔼🔽 buttons above the keyboard as the iPadOS ones
* you will lose four buttons * / | - in order to have the space needed for the arrows

[2021-03-03 06:01] frenschman commented on #215
Hi looks not bad :)

Wen you turn the iphone in the Horizont Position dann the Keyboard it’s much biger and more Space a free at the Screen !

We can use that option whit out lose any buttons !

Mit freundlichen Grüßen
Rößler

[2021-03-03 06:28] isontheline commented on #222
Duplicate of https://github.com/isontheline/pro.webssh.net/issues/182

[2021-03-03 06:28] #222 closed

[2021-03-03 06:47] isontheline commented on #215
If you want a quick fix this arrow buttons I can't implement different buttons layouts.

In the few days I can only develop an option to replace buttons "* / | -" by the arrows ones.

Do you agree with this first attempt of fix?

[2021-03-03 14:54] bigboyq opened #223 "Tunnel Failed"
IOS 14.4
Webssh 14.13.1
Add stunnel
While try to start, NEVPNErrorDomain Error 2 Occurs
No matter using ip or hostname in the host field

[2021-03-03 16:36] isontheline commented on #223
1. Just go to iOS Settings > VPN > Then remove "VPN-Over-SSH"
2. Launch your tunnel again
3. Approve the installation of the VPN profile

[2021-03-03 20:14] frenschman commented on #215
Hi thx for work !!

Wil that be a fix for all or just for me ?

I don’t what that oder use get miss a button there need

It’s a bad situation ..

I need arrows
Some one other need the /*

I thing we wait that you find a better option .!

A double button line ?

[2021-03-03 21:02] isontheline commented on #215
You're Welcome!

No a double lines we will loose precious rows.

I will implement one of these two options :
* Add an WebSSH settings that will allow to switch between arrow keys and /* keys
* Add the ability to slide between keys with the finger

[2021-03-03 21:06] mbierman opened #224 "Multi-touch events"
**Describe the feature**
Use multitouch events for editing text instead of the arrows. Imagine using two fingers left or right to move forward and back on text... so much faster than the little arrow keys we have now.

https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/HandlingEvents/HandlingEvents.html

**Screenshots / Draws**

[2021-03-03 21:10] isontheline commented on #224
Hello @mbierman 👋

Good idea!

It has already been planned here though : https://github.com/isontheline/pro.webssh.net/issues/59

[2021-03-03 21:10] #224 closed

[2021-03-03 21:11] mbierman commented on #59
Awesome! I look forward to this. Thank you!

[2021-03-03 21:12] isontheline commented on #224
You can also have the old big pad again :
1. WebSSH Settings
2. SSH Settings
3. Virtual Keys : Pad

[2021-03-03 21:19] isontheline commented on #223
I have also updated the documentation about this error : https://webssh.net/documentation/help/howtos/Tunnel/NEVPNErrorDomain/

[2021-03-03 21:19] #223 closed

[2021-03-03 21:35] mbierman commented on #224
Sweet! I had missed this.

[2021-03-04 06:01] frenschman commented on #215
Good morning

I like the slide option !!
So we have not to go always back in the settings !

Thx thx

[2021-03-08 04:07] workworksalot opened #225 "The back space doesn’t work. It buzzes and goes forward."
**Describe the bug**
_A clear and concise description of what the bug is. Be warned : We will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Touc

[2021-03-08 05:14] isontheline commented on #225
Hello @workworksalot  👋
Thanks for your issue!
But...

...Every time someone does not respect the issue's template, a little mouse dies.

<details>
<summary>Learn how</summary>

![little-mouse-dies-or-not-it-depends-on-you](https://user-images.githubusercontent.com/44212923/91720843-10584c80-eb98-11ea-80b8-fdc48f92392c.gif)
</details>

Please edit your issue description to respect the issue templa

[2021-03-08 05:14] #225 closed

[2021-03-08 20:03] isontheline commented on #221
Incident Identifier: A9F5AAC2-0947-4D6B-8FBF-BCBBB472C291
CrashReporter Key:   6cf988145a2f6f20e7e36132756102b875cb82d8
Hardware Model:      iPad7,5
Process:             WebSSH [9895]
Path:                /private/var/containers/Bundle/Application/F6D5383A-F16D-449C-8A81-93CF885EB97A/WebSSH.app/WebSSH
Identifier:          com.itimeteo.webssh
Version:             14.14.4 (14.14)
Code Type:

[2021-03-08 20:03] #221 closed

[2021-03-09 21:34] #210 closed

[2021-03-09 21:34] #182 closed

[2021-03-11 21:31] Riyadh4012 commented on #23
Riyadh

[2021-03-11 22:18] Riyadh4012 opened #229 "Riyadh"
**Describe the bug**
_A clear and concise description of what the bug is. Be warned : We will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Touc

[2021-03-11 22:19] Riyadh4012 opened #230 "Riyadh"
**Describe the feature**
_A clear and concise description of what the feature is. Be warned : We will refuse requests with no or little informations_

**Screenshots / Draws**
_If applicable, add screenshots and/or draws to help explain your feature request._

[2021-03-11 22:20] Riyadh4012 opened #231 "RIYADH"
** Abdulaziz **
_A clear and concise description of what the feature is. Be warned : We will refuse requests with no or little informations_

**Screenshots / Draws**
_If applicable, add screenshots and/or draws to help explain your feature request._

[2021-03-13 19:54] isontheline commented on #141
Done

[2021-03-13 19:54] #141 closed

[2021-03-13 20:12] #203 closed

[2021-03-13 21:16] #195 closed

[2021-03-13 21:16] #198 closed

[2021-03-14 20:22] isontheline opened #232 "Convert JGActionSheet to Action Sheets and Pull-Down Menus"
**Describe the feature**
Improve the UI / UX by converting [JGActionSheet](https://github.com/JonasGessner/JGActionSheet) to native components :
* [Action Sheets](https://developer.apple.com/design/human-interface-guidelines/ios/views/action-sheets/)
* [Pull-Down Menus](https://developer.apple.com/design/human-interface-guidelines/ios/controls/pull-down-menus/)

[2021-03-14 20:43] #196 closed

[2021-03-14 20:59] isontheline commented on #43
Let's go!

I'm now working on iCloud sync 😇

[2021-03-15 19:21] isontheline opened #233 "Custom sorting on all lists (snippets, connections and etc)"
**Describe the feature**
1. This App is everything I need to take control of my Linux servers. Please insert the possibility to organize the servers in the home screen by moving them up and down.
*From App Store : Patrick444*

2. Please add possible custom sorting on all lists (snippets, connections and etc)
*From email : Дмитрий Логовцев*

[2021-03-16 20:19] isontheline opened #234 "Enterprises features"
* Automatic server import (from json?)
* Automatic backups

[2021-03-17 22:57] CapableFish commented on #200
Sorry, is there an ETA on the fix? it makes WebSSH much harder to use as I have to retype all the time instead of just pressing the up arrow to make minor changes to the commands.

[2021-03-18 05:26] isontheline commented on #200
There are two different issues :
* arrows keys inside WebSSH fields
* arrows keys inside the terminal

The second issue is not planned here because the lack of reproducing steps. Does the issue concerns other than the HP Pro Curve ? If so please provide the linux distribution used.

[2021-03-18 05:35] CapableFish commented on #200
The issue affects all ssh sessions I tried. (multiple types of HP switches, aruba wireless access points and fortigate firewalls)

From: Arnaud Mengus ***@***.***>
Reply to: "isontheline/pro.webssh.net" ***@***.***>
Date: Thursday, 18 March 2021 at 4:26 pm
To: "isontheline/pro.webssh.net" ***@***.***>
Cc: Dennis Lai ***@***.***>, Comment ***@***.***>
Subject: Re: [isontheline/pro.webssh.net] UX :

[2021-03-18 10:37] mgrossb opened #235 "Connection refused"
**Describe the bug**
I Use WebSSH for iOS for connecting to a remote server. This worked fine for quite a time, since a few weeks the connection doesn't work anymore. No problems to connect via WinSCP (pc).
Connection needs VPN; I use Standard iOS VPN client
**Informations**
 - Device : [iPad Pro 2019]
 - OS : [e.g. iOS 14.4.1]
 - WebSSH Pro version : [e.g. 14.14]

**Screenshots**
_If applicable,

[2021-03-18 11:53] isontheline commented on #235
Hello @mgrossb 👋

The message "Failed to establish initial TCP/IP connection" seems to indicate that the VPN is not used for the connection.

Please ping the host inside WebSSH and put the screenshot of the ping.

[2021-03-18 11:57] isontheline opened #236 "Arrow keys support with hardware not fully terminal compliant"
The issue affects all ssh sessions I tried. (multiple types of HP switches, aruba wireless access points and fortigate firewalls)

_Originally posted by @CapableFish in https://github.com/isontheline/pro.webssh.net/issues/200#issuecomment-801642003_

[2021-03-18 11:58] isontheline commented on #200
I'm opening a distinct issue : #236

[2021-03-18 12:09] isontheline commented on #235
Your screenshot show the ping fails.

Two possibilities :
1. Your VPN doesn't let you to reach your server though your iDevice
2. You haven't allowed WebSSH to access your local network :
![image](https://user-images.githubusercontent.com/44212923/111623797-27385680-87eb-11eb-953c-04e3376a0f28.png)

[2021-03-18 12:22] mgrossb commented on #235
Could you please tell me where would I find this setting? Inside WebSSH? I can't find a screen like this.

[2021-03-18 19:25] isontheline commented on #235
1. iOS Settings
2. WebSSH (Bottom of the settings)
3. Allow local access

If local access is granted then I think your VPN could be the wrong part but I'm not sure.

[2021-03-18 19:25] #235 closed

[2021-03-19 20:24] isontheline opened #237 "Fn keys are overlapped by the keyboard in landscape mode"
**Describe the bug**
All Fn keys can't be reached in landscape mode.

- [ ] Change the Fn menu with an iOS 14 one
- [x] Add the ability to have all Fn keys above the keyboard

[2021-03-19 20:45] isontheline commented on #43
- [ ] Allow removing data after sync (31 days && iCloud Backup == 0)

[2021-03-21 16:46] lethall opened #238 "Can't set mark in emacs or tmux"
**Describe the bug**
WebSSH is a nearly perfect product; but it can't be my favorite because ctrl-<space> is not passed.

**Informations**
 - Device : iPhone 8
 - OS : 14
 - WebSSH Pro version : 14.14

**Screenshots**
Not an error. Just doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to any host (I tried 2)
2. Edit any file with jove, atto, or any other emacsen... Or us

[2021-03-21 19:24] isontheline commented on #238
Hello @lethall 👋

So I will try to make it your favorite 😇

I'm checking your trouble and come back to you asap.

[2021-03-21 19:39] lethall commented on #238
To be clear: the "ctrl-<space>" is ctrl-spacebar. The github iOS app *also* seems to be swallowing the space 😀

[2021-03-21 19:44] isontheline commented on #238
And "ctrl-@" is same as "ctrl-spacebar" isn't it ?

[2021-03-21 21:02] lethall commented on #238
Yes, ctrl-@ is the same as ctrl-space; but harder to type (and not in muscle memory) - and ctrl-@ doesn't get passed either ☹️

[2021-03-22 12:26] isontheline commented on #238
No problem I will implement ctrl-space and ctrl-@ asap

[2021-03-23 20:30] isontheline opened #241 "mashREPL : add route support"
**Describe the feature**
Ability to query routes through :
* https://github.com/giftnuss/net-tools/blob/master/route.c#L230
* https://github.com/Shmoopi/iOS-System-Services/blob/master/System%20Services/Utilities/SSNetworkInfo.m#L87

[2021-03-26 19:54] isontheline opened #244 "Ability to import key files through iTunes"
I am trying to use my private key file with this app (I have been using it for years and love it BTW, but without key files)..
I have added the private, OpenSSH, keyfile to the webssh Files section in iTunes, and Sync'd the phone, but when I try and add a Key file, it doesnt list it, or allow me to select it in any way.  I am only able to "paste" or type in (eek!) the Private key data.
Any help wo

[2021-03-29 19:00] isontheline commented on #43
I will release beta iCloud support in a few hours

[2021-03-30 23:49] 1166kalle opened #245 "Issue1"
**Describe the bug**
_A clear and concise description of what the bug is. Be warned : We will refuse reports with no or little informations_

**Informations**
 - Device : [e.g. iPhone 6]
 - OS : [e.g. iOS 8.1]
 - WebSSH Pro version : [e.g. 13.16]

**Screenshots**
_If applicable, add screenshots to help explain your problem._

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Touc

[2021-03-30 23:50] 1166kalle opened #246 "Explain"
**Describe the feature**
_A clear and concise description of what the feature is. Be warned : We will refuse requests with no or little informations_

**Screenshots / Draws**
_If applicable, add screenshots and/or draws to help explain your feature request._

[2021-03-31 05:30] #246 closed

[2021-03-31 05:30] #245 closed

[2021-04-01 04:09] isontheline commented on #43
Sorry for the trouble

Do you lost the credentials on your main device or your secondary device?

[2021-04-01 11:15] josemmba commented on #202
In actual beta option "clone" form ssh to Sftp and Sftp to Ssh is a good option, but only 1 list is more clear for users.

[2021-04-01 19:41] isontheline commented on #43
Hello @svenh0 👋

Thank you a lot for your quick feedback about iCloud implementation inside WebSSH 👍

[2021-04-03 20:44] isontheline commented on #238
Hello @lethall 👋

I will release WebSSH 14.15.7 in a few hours on TestFlight.
If you are not a beta tester, you can be one : https://webssh.net/documentation/becoming-external-tester/

I have fixed ctrl-@ and ctrl-space, they both work with virtual keyboard

When using a physical keyboard, you must use ctrl-@ because ctrl-space is used by iOS to switch languages.

Have a nice day ☀️

[2021-04-04 08:13] akuropka opened #250 "[ssh] public key authentication failed"
**Describe the bug**
Trying to connect to a ssh server, private key sent, public key authentication failed (where can I set up the public key?).

**Informations**
 - Device : iPhone 12 Pro Max
 - OS : iOS 14.5b6
 - WebSSH Pro version : 14.15.6

**Screenshots**
![IMG_0868](https://user-images.githubusercontent.com/22570574/113502700-3aa72980-952e-11eb-9c58-ed44d8ac3aa6.PNG)
![PNG image](https://use

[2021-04-04 10:15] isontheline commented on #238
Now available in beta version 14.15.7

[2021-04-04 10:15] #238 closed

[2021-04-04 12:17] lethall commented on #238
It works well! Thank you.

Happy Easter!

[2021-04-04 12:40] isontheline commented on #238
@lethall Thanks for your feedback 👍

Happy Easter too!

[2021-04-04 12:58] lethall commented on #238
It works well! Thank you.

Happy Easter!

[2021-04-04 18:07] isontheline commented on #250
Hello @akuropka 👋

Please also join the server auth.log in order to see if the public key is missing on your server side.

Have a nice day ☀️

[2021-04-04 18:27] akuropka commented on #250
Hi @isontheline,
please find below the relevant part of journal:
[sshd.log.txt](https://github.com/isontheline/pro.webssh.net/files/6255107/sshd.log.txt)
It works with PuTTY (Win10) and Termius (Android11).
Thank you so much...

[2021-04-04 19:42] isontheline commented on #250
Thanks @akuropka

Could you give me the command line used to generated your private key?

[2021-04-05 06:41] akuropka commented on #250
Oh, that's a long time ago... since it is a 4096 bit RSA key I guess it was
`ssh-keygen -b 4096`

[2021-04-05 07:38] isontheline commented on #250
I'm also using a 4K key and it's working as expected 😢

* Are you using the same key in Termius and PuTTY?
* Does the user is correct?
* Does your authentication need a password with a key or only a key?

[2021-04-05 07:58] akuropka commented on #250
I use the same key-only login everywhere and it works.
One thing to note, I also use DUO 2FA, enabled in sshd_config by
`AuthenticationMethods publickey,keyboard-interactive`
But if I switch on Two Factor Authentication I get an error as well:
![PNG image 2](https://user-images.githubusercontent.com/22570574/113551502-0e0a1500-95f5-11eb-8de2-d76db2c29f14.png)
(btw PuTTY/Termius don't have such 2FA

[2021-04-05 08:07] isontheline commented on #250
OK it's so related to this bug : https://github.com/isontheline/pro.webssh.net/issues/51

I'm closing this issue now

[2021-04-05 08:07] #250 closed

[2021-04-05 08:08] isontheline commented on #51
@akuropka

Another issue related to DUO 2FA :
https://github.com/isontheline/pro.webssh.net/issues/250

[2021-04-05 08:13] isontheline commented on #43
Need to improve (future) with sync notifications : https://developer.apple.com/documentation/cloudkit/ckquerysubscription?language=objc

[2021-04-05 09:07] akuropka commented on #250
@isontheline, thank you for update and reference. I didn't see that. )-:
Sadly to learn that it doesn't work yet but I will follow up and hope for good news soon...

[2021-04-05 14:06] isontheline commented on #43
@marek90 @mbierman Could you try the iCloud sync?

You can also make a database backup before enabling it by using this command in mashREPL :
webssh database backup

[2021-04-05 14:32] marek90 commented on #43
@isontheline , I have an older iPad mini and just found out that the highest version of WebSSH I can run is 14.10 :(

[2021-04-05 14:34] isontheline commented on #43
@marek90 Oh sorry.
iPad mini under 4?

[2021-04-05 14:37] marek90 commented on #43
Yeah, iPad mini 3.

[2021-04-05 18:46] isontheline commented on #43
Sorry for this bad news 🙁
In order to update the libraries used inside WebSSH I have to upgrade the minimum iOS version to 14.x

[2021-04-05 18:48] isontheline opened #251 "SFTP : Crash when dismissing success banner"
**Describe the bug**
I opened and edited a file in SFTP, saved it, attempted to edit another file, it kept loading until I cancelled it because it was taking too long, tapped on the green "File saved successfully" banner from the initial file (which, by the way, doesn't stretch out when the screen is horizontal), and then it proceeded to crash.

**Informations**
[code]

[code]

[2021-04-05 19:44] isontheline commented on #43
WebSSH database can now be backed up and restored through mashREPL :
* https://webssh.net/documentation/help/howtos/mashREPL/database-backup/
* https://webssh.net/documentation/help/howtos/mashREPL/database-restore/

[2021-04-05 19:44] #43 closed

[2021-04-05 19:46] isontheline opened #252 "Import / Export Servers"
# Progress
- [x] Export to ssh_config
- [x] #792

# Request
I had WebSSH installed on my phone for a while for some reason, but just today purchased Premium and started using it.

I am looking forward to import/export (and sync), I have a lot of servers to connect to and setting them all up manually is a pain in the neck. Even from a simple text file, JSON or XML would be better than nothing. Or m

[2021-04-05 19:48] isontheline commented on #252
@alexhk How many connections are you using?

[2021-04-06 05:45] isontheline opened #253 "iCloud : ability to delete any content"
**Describe the feature**
It could be useful to delete any content on iCloud when the user don't want a sync anymore.

* Add a "delete and disable" button on the iCloud WebSSH settings

[2021-04-07 05:51] #241 closed

[2021-04-12 05:57] isontheline commented on #128
https://github.com/isontheline/pro.webssh.net/discussions/255#discussion-3316702

[2021-04-12 18:58] isontheline opened #256 "Dropdown for groups"
**Describe the feature**
Ability to have a dropdown menu in order to select the same group name for multiple connections easily

[2021-04-14 00:21] alexhk commented on #252
Apologies for the late reply, and thanks for keeping the import function in mind.

Currently I am using only two connections, the main one a machine at the office  which I use to connect to my target systems ;)

Once we have an import function I'll add around 10 at first, 20-25 eventually if it goes smoothly. Connecting directly is preferred, as now I have to use VPN on the mobile device and copy

[2021-04-14 04:22] isontheline commented on #252
No problem, thanks for your reply

Could you post here the CSV format including headers if any (without any credentials of course)?

I will then start the import implementation.

[2021-04-14 05:54] isontheline opened #259 "Snippets : Ability to manage them from settings section"
**Describe the feature**
- [x] Ability to manage snippets from settings section
- [x] Remove "Only for this connection"
- [x] Ability to edit a snippet
- [ ] ~~Add ability to launch a snippet at a connection startup~~ No instead use remote command
- [ ] ~~Add documentation about Snippets~~ Later
- [x] Update snippets icons on SSH shortcuts when dismissing the snippets menu

[2021-04-15 02:27] Dog8116 opened #260 "How do I port forward"
I was attempting to forward port 7777 because I was trying to set up a multiplayer terraria game that isn’t only with local devices, but the I have never done this before and the tutorial I used only said to “forward port 7777”. (please try to explain with simple terms as I have never done this)

[2021-04-15 04:39] isontheline commented on #260
Hello @Dog8116 👋

Please put your tutorial link or PDF here.

WebSSH documentation about port forwarding is available here : https://webssh.net/documentation/help/networking/port-forwarding/

Have a nice day ☀️

[2021-04-15 17:24] Dog8116 commented on #260
https://gaming.stackexchange.com/questions/359746/how-do-i-create-a-terraria-server-on-my-android-phone/360086#360086

[2021-04-15 18:10] isontheline commented on #260
I'm sorry you are trying to expose a local port to the Internet and WebSSH can't do that. WebSSH can only do local port forwarding : forwarding a remote port to your iDevice

[2021-04-15 18:10] #260 closed

[2021-04-17 17:58] isontheline commented on #236
@CapableFish

Please :
1. Download WebSSH 14.16.2 : https://testflight.apple.com/join/QSrBK59z
2. Edit your connection terminal settings : set CURSOR KEYS MODE to : "normal"
3. Try to launch your connection and check if arrow keys works

[2021-04-17 17:58] isontheline commented on #200
@CapableFish Could you try 14.16.2 for arrow keys support?
https://github.com/isontheline/pro.webssh.net/issues/236#issuecomment-821862137

[2021-04-18 22:33] CapableFish commented on #236
Hi,

it says I may lose the app data if I use the beta,

![image](https://user-images.githubusercontent.com/79424697/115162943-bd60e480-a0e9-11eb-8f1e-2bb2e9e4c00d.jpeg)

is there anyway I can backup the 100+ terminal sessions I had to manually create and save?

[2021-04-19 06:02] isontheline commented on #236
@CapableFish You won’t loose any data.

But a WebSSH database backup is always a good thing to do : https://webssh.net/documentation/help/howtos/mashREPL/database-backup/

[2021-04-20 10:58] CapableFish commented on #236
thanks for the backup info.

There is an improvement but the arrow keys still do not always work

I tested
- WebSSH help screens does not have arrow key support (correcting typos in the help search)
- HP switch - does not have arrow key support
- Aruba Wireless - does not have arrow key support
- Fortigate firewall - arrow keys now working

[2021-04-20 11:02] CapableFish commented on #236
sorry forgot to set cursor mode to normal

Tested in "Normal" cursor mode
- HP switch - arrow keys working
- Aruba Wireless - arrow keys working

[2021-04-20 16:21] isontheline commented on #236
@CapableFish Thank you a lot for your feedback!

Happy to see that arrow keys are working now for you :)

Yet you can't set "normal" mode by default you need to set it for each connections.
The "normal" mode should / would be the default one in a future release but before I need to check that there is no regression for other users.

[2021-04-20 18:21] #236 closed

[2021-04-21 09:30] alexhk commented on #252
SecureCRT does not produce a CSV by default, the CSV file is the result of a custom script which in its basic form is provided by VanDyke but needs to be modified.

Hence, it will be different from user to user. I I suggest you define the expected fields in your app. And the export needs to be customized to fit your WebSSH requirements.

But in any case, here is the output from my script from Secu

[2021-04-21 13:24] nqnx commented on #61
Hello Arnaud @isontheline

Attached you find a ed25519 test public / private key pair.

Thanks a lot for the work.

[public.txt](https://github.com/isontheline/pro.webssh.net/files/6351164/public.txt)
[private.txt](https://github.com/isontheline/pro.webssh.net/files/6351165/private.txt)

[2021-04-21 19:05] isontheline commented on #61
Hello @nqnx 👋

That's perfect!

I will try this key pair and will fix this bug as soon as possible.

[2021-04-21 19:06] #251 closed

[2021-04-21 19:15] isontheline commented on #252
Thank you @alexhk for providing an example!

You're right I will define WebSSH' own CSV import format.

I'm increasing the priority of this issue and I will try to make it alive soon.

[2021-04-23 03:59] CapableFish commented on #236
When will this be out of beta

[2021-04-23 18:24] isontheline commented on #236
Not before 3-9 may because I've lot of issues in progress

[2021-04-23 18:25] isontheline opened #261 "Tool : nmap"
**Describe the feature**
- [ ] From GUI with history
- [ ] From command line

[2021-04-25 13:58] #237 closed

[2021-04-25 19:37] isontheline commented on #61
@nqnx Could you test the latest beta please ?
https://testflight.apple.com/join/QSrBK59z

☀️ Have a nice day

[2021-04-25 20:32] isontheline commented on #244
Hello @bellaf 👋

A beta release will be available in a few hours.

You can start by downloading WebSSH on TestFlight here : https://testflight.apple.com/join/QSrBK59z

When the new release will be available you will receive a notification.

☀️ Have a nice day

[2021-04-26 05:30] isontheline commented on #244
@bellaf WebSSH Beta 14.16.5 now available : https://testflight.apple.com/join/QSrBK59z

[2021-04-26 05:30] #244 closed

[2021-04-26 06:12] nqnx commented on #61
Hello @isontheline,
The latest beta version works with those keys. Thanks a lot!

Maybe an idea of improvement:
Remove "is encrypted" and rename "password" to "passphrase", automatically set the option "is encrypted" on in the background when "passphrase" is filled out.

[2021-04-26 18:28] isontheline commented on #61
Hello @nqnx 👋

Thank you a lot for your feedback!

I'm creating a new issue for your idea :

[2021-04-26 18:28] #61 closed

[2021-04-26 18:29] isontheline opened #262 "Improve Private Key Form"
Maybe an idea of improvement:
Remove "is encrypted" and rename "password" to "passphrase", automatically set the option "is encrypted" on in the background when "passphrase" is filled out.

_Originally posted by @nqnx in https://github.com/isontheline/pro.webssh.net/issues/61#issuecomment-826535649_

[2021-05-01 11:29] isontheline opened #263 "Ability to use a proxy"
**Describe the feature**
Ability to use a proxy (socks? HTTP?) in order to connect to a server.

* In general settings?
* In each connection settings?

[2021-05-01 16:37] isontheline opened #264 "Advice needed : what about server uptime monitoring?"
**Describe the feature**
What about this feature : server uptime monitoring (like UptimeRobot, etc.) inside WebSSH?

* Useful or not?
* Free or with "Unlimited" IAP or monthly pricing?

Linked discussion : https://github.com/isontheline/pro.webssh.net/discussions/265

[2021-05-03 06:39] nqnx commented on #262
That would be great indeed, thanks. Once it can be tested, I'll gladly help out.

[2021-05-04 19:01] GetBoz commented on #205
It would be a great enhancement to allow to download a complete folder (and upload too)

[2021-05-04 19:36] isontheline opened #266 "Tunnel : Proxy Jump Host : VPN-Over-SSH"
**Describe the feature**
Ability to use a "wildcard" jump host from the tunnel feature.

**Why?**
Yet the Local Port Forwarding and Dynamic Port Forwarding are using the VPN in order to work.
But if we use a VPN (like Cisco, OpenVPN) then we can't use the LPF / DPF features.

So if we can use a Jump Host without using the VPN it would be great :)

**What to do?**
* Keep LPF / DPF through VPN
* Add

[2021-05-04 19:37] isontheline commented on #199
Closed in favor of #266

[2021-05-04 19:37] #199 closed

[2021-05-04 19:40] isontheline opened #267 "Add visibility of enabled tunnel"
**Describe the feature**
When a tunnel is alive it should be great that an indicator in WebSSH is enabled :
* Icon on navigation bar
* OR
* A different navigation bar color : purple?

[2021-05-04 19:59] isontheline opened #268 "mashREPL is not thread safe"
**Describe the bug**
stdout must not be shared

[2021-05-04 20:00] isontheline commented on #264
OK seems not be a wanted feature, closing now

[2021-05-04 20:00] #264 closed

[2021-05-05 20:38] #259 closed

[2021-05-06 02:46] icedterminal opened #269 "Some commands have a chance to have the word "the" appended to them."
**Information**
 - Device : iPhone 7
 - OS : 14.4.2
 - WebSSH Pro version : Not sure. There's two number strings here. https://i.imgur.com/D86mGhB.png

**Video**
https://youtu.be/hgv343spzeU

**Details**
Typing out `apt update` and tapping RETURN or SPACE will append the word _“the”_ to the command. So you get `apt updatethe` – This is a consistent problem.

I've narrowed it down to being related

[2021-05-06 16:25] hunter-nl opened #272 "Snippets per host/group"
**Describe the bug**
Update 14.16 has changed the feature ‘snippets’. Before update I had different snippets per host configured. Now they all merged into 1 list and only the first 5 (alfabetische in the list) are shown as icon. This makes for me the snippets much less usable.
Please restore the feature back to previous version.

**Informations**
 - Device : iPhone XS MAX
 - OS : iOS 14.15.1
 - We

[2021-05-06 18:46] isontheline commented on #272
Sorry to hear that this new **intended** behavior doesn't comply with your needs 😢  but it was a nightmare to maintain.

I need some time to think about your issue.

[2021-05-06 18:48] isontheline commented on #272
Perhaps the best is to implement tags on snippets : a snippet could have a tag and the snippet will be displayed if the tag is the same as the host.

What do you think?

[2021-05-06 18:50] isontheline commented on #269
Hello @icedterminal 👋

I can't reproduce your issue.
Perhaps it's related with a system setting?

It's the first time I hear about this kind of issue.

[2021-05-06 18:51] isontheline opened #273 "Traceroute"
I think it would be in incredibly help to have Trace route in the tools section.

_Originally posted by @tmcb82 in https://github.com/isontheline/pro.webssh.net/discussions/271_

- [x] Changer icone de play vers stop
- [x] Afficher erreur swiftmessages
- [x] Pouvoir specifier ipv4/ipv6
- [x] Afficher latence
- [x] Pouvoir copier une IP de hop
- [x] Network tools : vibrations

[2021-05-06 18:56] mbierman commented on #273
+1!

[2021-05-06 19:44] hunter-nl commented on #272
If it is possible to assign multiple tags to snippets and hosts then that would be maybe a solution.

[2021-05-06 20:03] icedterminal commented on #269
In regards to iOS or Ubuntu?

If you mean Ubuntu, I did test that theory since you brought it up. I created a fresh install in a VM and bridged the network connection so iOS could see it. Sill occurs. https://youtu.be/Jo5rz0irWSs

Is there some way I could provide you app logs?

[2021-05-06 20:09] isontheline commented on #269
In regards of iOS settings like autocomplete or auto-correct, not on the Ubuntu side.

Autocomplete is disabled inside WebSSH textarea, but perhaps there is a special settings in iOS to overwrite this behavior.

[2021-05-06 21:33] icedterminal commented on #269
Autocomplete (text replacement) is empty. I don't have anything there. So it could be auto correct. In some form. That's a good point. I'll continue to try and figure it out.

[2021-05-07 05:12] icedterminal commented on #269
This app allowed me discover a bug with my iOS autocorrect feature. I reset the phone and the problem is gone. Though I'd really like to know the correlation. But I guess at this point I'll never know.

[2021-05-07 05:12] #269 closed

[2021-05-07 05:16] isontheline commented on #269
Thank you a lot for your feedback @icedterminal 👍

By reset you mean restart?

[2021-05-07 06:13] isontheline opened #274 "Improve cursor focus / blur"

[2021-05-07 06:43] isontheline opened #275 "iCloud setting should not be synced IN but only on device setting"
**Describe the bug**
Sometimes iCloud setting is disabled by another device and then disable it.

[2021-05-07 07:03] ash34 opened #276 "Rename "Remote command" to "Execute command""
**Describe the bug**
The function where a snippet would automatically be run after an SSH connection is made has stopped working. In fact I can’t even find where the setting is anymore.

**Informations**
 - Device : IPad 7
 - OS : iOS 14.5
 - WebSSH Pro version : 14.16.10

**Screenshots**
N/A

**To Reproduce**
Steps to reproduce the behavior:
1. Select a saved SSH connection to begin the connectio

[2021-05-07 07:08] ash34 commented on #276
I see that it has been removed intentionally.

“ Run snippet at connection startup is now removed. Use instead remote command.”

But what is “remote command”? Where do I find that?

[2021-05-07 07:11] isontheline commented on #276
@ash34 On connection settings > terminal settings > Remote command

You should use something like this :

`df -h; bash`

The last command let you to continue in the terminal.

Snippets won't run anymore at startup because a lot of time we can't know when the shell is available and ready.

[2021-05-07 07:21] ash34 commented on #276
Ok thanks. Maybe the name “remote command” is not so obvious, though. “Initial command”, “auto command” or something similar might be better.

[2021-05-07 18:27] isontheline opened #277 "Enhance cursor blink and blur"

[2021-05-07 18:28] isontheline commented on #277
Duplicate #274

[2021-05-07 18:28] #277 closed

[2021-05-07 18:57] isontheline opened #278 "Dismiss language or snippets : background first view appear"

[2021-05-07 18:59] isontheline opened #279 "Disabling screen dimming doesn't always work"

[2021-05-07 19:00] isontheline opened #280 "SFTP : Ability to filter list by search input"
**Describe the feature**
It could be great to find a file or a folder in a huge list. A search input should be implemented.

- [x] Keyboard shortcut for UISearchBar focus
- [x] When changing directory, clean UISearchBar content
- [x] When searching don't show the parent folder
- [x] When no result display a message
- [x] General SFTP keyboard shortcut refresh?

[2021-05-07 19:02] isontheline opened #281 "SFTP : Fix date parse 24 hours"
**Describe the feature**
Date is displayed 12 hours

[2021-05-07 19:05] isontheline commented on #276
@ash34 It's not "initial" or "auto" because it could be a command that closes the connection after it's execution. But I don't know how to name it right.

* "Launch command"?
* "Startup command"?
* "Execute command"?

[2021-05-07 19:08] isontheline commented on #272
@ash34 You seem to also use snippets in your connections :

* Did you use also specific snippets per host?
* Does tags assignation could be the ideal solution in order to split snippets per host?